openapi: 3.2.0
info:
  title: Amazon Seller Central Product Pricing API
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged productPricing across 2 of this provider''s published API definitions: amazon-seller-central-product-pricing-2022-05-01-original.json, amazon-seller-central-product-pricing-v0-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sellingpartnerapi-na.amazon.com
tags:
- name: productPricing
paths:
  /batches/products/pricing/2022-05-01/offer/featuredOfferExpectedPrice:
    post:
      tags:
      - productPricing
      description: 'Returns the set of responses that correspond to the batched list of up to 40 requests defined in the request body. The response for each successful (HTTP status code 200) request in the set includes the computed listing price at or below which a seller can expect to become the featured offer (before applicable promotions). This is called the featured offer expected price (FOEP). Featured offer is not guaranteed because competing offers might change. Other offers might be featured based on factors such as fulfillment capabilities to a specific customer. The response to an unsuccessful request includes the available error text.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.033 | 1 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that are applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API.'
      operationId: getFeaturedOfferExpectedPriceBatch
      responses:
        '200':
          description: Success
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      requests:
                      - marketplaceId: MARKETPLACE_ID
                        sku: MY_SKU
                        segment:
                          segmentDetails:
                            sampleLocation:
                              postalCode:
                                countryCode: COUNTRY_CODE
                                value: POSTAL_CODE_VALUE
                        method: GET
                        uri: /products/pricing/2022-05-01/offer/featuredOfferExpectedPrice
                      - marketplaceId: MARKETPLACE_ID
                        sku: MY_UNIQUE_SKU
                        method: GET
                        uri: /products/pricing/2022-05-01/offer/featuredOfferExpectedPrice
                      - marketplaceId: MARKETPLACE_ID
                        sku: INVALID_SKU
                        method: GET
                        uri: /products/pricing/2022-05-01/offer/featuredOfferExpectedPrice
              response:
                responses:
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_SKU
                    segment:
                      segmentDetails:
                        sampleLocation:
                          postalCode:
                            countryCode: COUNTRY_CODE
                            value: POSTAL_CODE_VALUE
                  status:
                    statusCode: 200
                    reasonPhrase: Success
                  headers: {}
                  body:
                    offerIdentifier:
                      asin: ASIN
                      sku: MY_SKU
                      marketplaceId: MARKETPLACE_ID
                      fulfillmentType: AFN
                      sellerId: MY_SELLER_ID
                    featuredOfferExpectedPriceResults:
                    - featuredOfferExpectedPrice:
                        listingPrice:
                          amount: 10.0
                          currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                      resultStatus: VALID_FOEP
                      competingFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: OTHER_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                      currentFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: OTHER_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_UNIQUE_SKU
                  status:
                    statusCode: 200
                    reasonPhrase: Success
                  headers: {}
                  body:
                    offerIdentifier:
                      asin: ASIN
                      sku: MY_UNIQUE_SKU
                      marketplaceId: MARKETPLACE_ID
                      fulfillmentType: AFN
                      sellerId: MY_SELLER_ID
                    featuredOfferExpectedPriceResults:
                    - resultStatus: NO_COMPETING_OFFERS
                      currentFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: MY_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_NONEXISTENT_SKU
                  status:
                    statusCode: 400
                    reasonPhrase: Client Error
                  headers: {}
                  body:
                    errors:
                    - code: INVALID_SKU
                      message: The requested SKU does not exist for the seller in the requested Amazon store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeaturedOfferExpectedPriceBatchResponse'
              example:
                responses:
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_SKU
                    segment:
                      segmentDetails:
                        sampleLocation:
                          postalCode:
                            countryCode: US
                            value: '98109'
                  status:
                    statusCode: 200
                    reasonPhrase: Success
                  headers: {}
                  body:
                    offerIdentifier:
                      asin: ASIN
                      sku: MY_SKU
                      marketplaceId: MARKETPLACE_ID
                      fulfillmentType: AFN
                      sellerId: MY_SELLER_ID
                    featuredOfferExpectedPriceResults:
                    - featuredOfferExpectedPrice:
                        listingPrice:
                          amount: 10.0
                          currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                      resultStatus: VALID_FOEP
                      competingFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: OTHER_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                      currentFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: OTHER_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_UNIQUE_SKU
                  status:
                    statusCode: 200
                    reasonPhrase: Success
                  headers: {}
                  body:
                    offerIdentifier:
                      asin: ASIN
                      sku: MY_UNIQUE_SKU
                      marketplaceId: MARKETPLACE_ID
                      fulfillmentType: AFN
                      sellerId: MY_SELLER_ID
                    featuredOfferExpectedPriceResults:
                    - resultStatus: NO_COMPETING_OFFERS
                      currentFeaturedOffer:
                        offerIdentifier:
                          asin: ASIN
                          marketplaceId: MARKETPLACE_ID
                          fulfillmentType: AFN
                          sellerId: MY_SELLER_ID
                        condition: New
                        price:
                          listingPrice:
                            amount: 12.0
                            currencyCode: USD
                          shippingPrice:
                            amount: 0
                            currencyCode: USD
                          points:
                            pointsNumber: 3
                            pointsMonetaryValue:
                              amount: 0.03
                              currencyCode: USD
                - request:
                    marketplaceId: MARKETPLACE_ID
                    sku: MY_NONEXISTENT_SKU
                  status:
                    statusCode: 400
                    reasonPhrase: Client Error
                  headers: {}
                  body:
                    errors:
                    - code: INVALID_SKU
                      message: The requested SKU does not exist for the seller in the requested Amazon store.
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      requests:
                      - marketplaceId: MARKETPLACE_ID
                        sku: INVALID_SKU
                        method: GET
                        uri: /products/pricing/2022-05-01/offer/featuredOfferExpectedPrice
              response:
                errors:
                - code: INVALID_SKU
                  message: The requested SKU does not exist for the seller in the requested Amazon store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: The request's Authorization header is not formatted correctly or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: The request frequency exceeds the allowed rate.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFeaturedOfferExpectedPriceBatchRequest'
        description: The batch of `getFeaturedOfferExpectedPrice` requests.
        required: true
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /batches/products/pricing/2022-05-01/items/competitiveSummary:
    post:
      tags:
      - productPricing
      description: 'Returns the competitive summary response, including featured buying options for the ASIN and `marketplaceId` combination.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.033 | 1 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that are applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API.'
      operationId: getCompetitiveSummary
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      requests:
                      - asin: B00ZIAODGE
                        marketplaceId: ATVPDKIKX0DER
                        includedData:
                        - featuredBuyingOptions
                        - referencePrices
                        - lowestPricedOffers
                        - similarItems
                        lowestPricedOffersInputs:
                        - itemCondition: New
                          offerType: Consumer
                        - itemCondition: Used
                          offerType: Consumer
                        uri: /products/pricing/2022-05-01/items/competitiveSummary
                        method: GET
                      - asin: 11_AABB_123
                        marketplaceId: ATVPDKIKX0DER
                        includedData:
                        - featuredBuyingOptions
                        uri: /products/pricing/2022-05-01/items/competitiveSummary
                        method: GET
              response:
                responses:
                - status:
                    statusCode: 200
                    reasonPhrase: Success
                  body:
                    asin: B00ZIAODGE
                    marketplaceId: ATVPDKIKX0DER
                    featuredBuyingOptions:
                    - buyingOptionType: New
                      segmentedFeaturedOffers:
                      - sellerId: A3DJR8M9Y3OUPG
                        condition: New
                        fulfillmentType: MFN
                        listingPrice:
                          amount: 18.11
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        promotions:
                        - promotionType: COUPON
                          promotionSavings:
                            discount:
                              type: AMOUNT_OFF
                              amountOff:
                                amount: 2.0
                                currencyCode: USD
                            discountedPrice:
                              amount: 16.11
                              currencyCode: USD
                        featuredOfferSegments:
                        - customerMembership: NON_PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 72
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '67890'
                        - customerMembership: PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 10
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '12345'
                      - sellerId: A2ZWOLFOFDPJL1
                        condition: New
                        fulfillmentType: MFN
                        listingPrice:
                          amount: 17.15
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        promotions:
                        - promotionType: DEAL
                          promotionSavings:
                            discountedPrice:
                              amount: 17.15
                              currencyCode: USD
                        featuredOfferSegments:
                        - customerMembership: NON_PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 18
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '12345'
                    referencePrices:
                    - name: CompetitivePriceThreshold
                      price:
                        amount: 18.11
                        currencyCode: USD
                    - name: CompetitivePrice
                      price:
                        amount: 17.39
                        currencyCode: USD
                    - name: WasPrice
                      price:
                        amount: 18.49
                        currencyCode: USD
                    lowestPricedOffers:
                    - lowestPricedOffersInput:
                        itemCondition: New
                        offerType: Consumer
                      offers:
                      - condition: New
                        listingPrice:
                          currencyCode: USD
                          amount: 17.15
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsMonetaryValue:
                            amount: 0.5
                            currencyCode: USD
                          pointsNumber: 50
                        primeDetails:
                          eligibility: REGIONAL
                        subCondition: New
                        sellerId: A2ZWOLFOFDPJL1
                        fulfillmentType: MFN
                        promotions:
                        - promotionType: COUPON
                          promotionSavings:
                            discount:
                              type: PERCENTAGE_OFF
                              percentOff: 10
                            discountedPrice:
                              amount: 16.29
                              currencyCode: USD
                      - condition: New
                        listingPrice:
                          amount: 18.11
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        primeDetails:
                          eligibility: NATIONAL
                        sellerId: A3DJR8M9Y3OUPG
                        subCondition: New
                        fulfillmentType: MFN
                        promotions:
                        - promotionType: BASKET_BUILDING
                          promotionSavings:
                            discount:
                              type: AMOUNT_OFF
                              amountOff:
                                amount: 3.0
                                currencyCode: USD
                          purchaseRequirements:
                            condition:
                              quantityThreshold:
                                type: AT_LEAST
                                quantity: 2
                    - lowestPricedOffersInput:
                        itemCondition: Used
                        offerType: Consumer
                      offers:
                      - condition: Used
                        listingPrice:
                          currencyCode: USD
                          amount: 12.0
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        primeDetails:
                          eligibility: REGIONAL
                        subCondition: Acceptable
                        sellerId: A3DH5AGPM3JVAB
                        fulfillmentType: AFN
                    similarItems:
                    - items:
                      - asin: B00ZIA513F
                      - asin: B009DA8GI1
                      - asin: B00KF8SK3D
                - status:
                    statusCode: 400
                    reasonPhrase: Client Error
                  body:
                    asin: 11_AABB_123
                    marketplaceId: ATVPDKIKX0DER
                    errors:
                    - code: INVALID_ASIN
                      message: 11_AABB_123 is not a valid ASIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitiveSummaryBatchResponse'
              example:
                responses:
                - status:
                    statusCode: 200
                    reasonPhrase: Success
                  body:
                    asin: B00ZIAODGE
                    marketplaceId: ATVPDKIKX0DER
                    featuredBuyingOptions:
                    - buyingOptionType: New
                      segmentedFeaturedOffers:
                      - sellerId: A3DJR8M9Y3OUPG
                        condition: New
                        fulfillmentType: MFN
                        listingPrice:
                          amount: 18.11
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        promotions:
                        - promotionType: COUPON
                          promotionSavings:
                            discount:
                              type: AMOUNT_OFF
                              amountOff:
                                amount: 2.0
                                currencyCode: USD
                            discountedPrice:
                              amount: 16.11
                              currencyCode: USD
                        - promotionType: BASKET_BUILDING
                          promotionSavings:
                            discount:
                              type: PERCENTAGE_OFF
                              percentOff: 10
                          purchaseRequirements:
                            condition:
                              amountThreshold:
                                type: AT_LEAST
                                currency:
                                  amount: 30
                                  currencyCode: USD
                        featuredOfferSegments:
                        - customerMembership: PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 72
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '12345'
                        - customerMembership: NON_PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 10
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '67890'
                        - customerMembership: DEFAULT
                          segmentDetails:
                            glanceViewWeightPercentage: 8
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '98101'
                      - sellerId: A2ZWOLFOFDPJL1
                        condition: New
                        fulfillmentType: MFN
                        listingPrice:
                          amount: 17.15
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        promotions:
                        - promotionType: DEAL
                          promotionSavings:
                            discountedPrice:
                              amount: 17.15
                              currencyCode: USD
                        featuredOfferSegments:
                        - customerMembership: NON_PRIME
                          segmentDetails:
                            glanceViewWeightPercentage: 10
                            sampleLocation:
                              postalCode:
                                countryCode: US
                                value: '12345'
                    referencePrices:
                    - name: CompetitivePriceThreshold
                      price:
                        amount: 18.11
                        currencyCode: USD
                    - name: CompetitivePrice
                      price:
                        amount: 17.39
                        currencyCode: USD
                    - name: WasPrice
                      price:
                        amount: 18.49
                        currencyCode: USD
                    lowestPricedOffers:
                    - lowestPricedOffersInput:
                        itemCondition: New
                        offerType: Consumer
                      offers:
                      - listingPrice:
                          currencyCode: USD
                          amount: 17.15
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsMonetaryValue:
                            amount: 0.5
                            currencyCode: USD
                          pointsNumber: 50
                        primeDetails:
                          eligibility: REGIONAL
                        subCondition: New
                        sellerId: A2ZWOLFOFDPJL1
                        fulfillmentType: MFN
                        promotions:
                        - promotionType: COUPON
                          promotionSavings:
                            discount:
                              type: PERCENTAGE_OFF
                              percentOff: 10
                            discountedPrice:
                              amount: 16.29
                              currencyCode: USD
                      - listingPrice:
                          amount: 18.11
                          currencyCode: USD
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        points:
                          pointsNumber: 3
                          pointsMonetaryValue:
                            amount: 0.03
                            currencyCode: USD
                        primeDetails:
                          eligibility: NATIONAL
                        sellerId: A3DJR8M9Y3OUPG
                        subCondition: New
                        fulfillmentType: MFN
                        promotions:
                        - promotionType: BASKET_BUILDING
                          promotionSavings:
                            discount:
                              type: AMOUNT_OFF
                              amountOff:
                                amount: 3.0
                                currencyCode: USD
                          purchaseRequirements:
                            condition:
                              quantityThreshold:
                                type: AT_LEAST
                                quantity: 1
                    - lowestPricedOffersInput:
                        itemCondition: Used
                        offerType: Consumer
                      offers:
                      - listingPrice:
                          currencyCode: USD
                          amount: 12.0
                        shippingOptions:
                        - shippingOptionType: DEFAULT
                          price:
                            amount: 2.5
                            currencyCode: USD
                        primeDetails:
                          eligibility: REGIONAL
                        subCondition: Acceptable
                        sellerId: A3DH5AGPM3JVAB
                        fulfillmentType: AFN
                        promotions:
                        - promotionType: DEAL
                          promotionSavings:
                            discountedPrice:
                              amount: 10.0
                              currencyCode: USD
                    similarItems:
                    - items:
                      - asin: B00ZIA513F
                      - asin: B009DA8GI1
                      - asin: B00KF8SK3D
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      requests:
                      - asin: 11_AABB_123
                        marketplaceId: ATVPDKIKX0DER
                        includedData:
                        - featuredBuyingOptions
                        uri: /products/pricing/2022-05-01/items/competitiveSummary
                        method: GET
              response:
                errors:
                - code: INVALID_ASIN
                  message: 11_AABB_123 is not a valid ASIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: The request frequency exceeds the allowed rate.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompetitiveSummaryBatchRequest'
        description: The batch of `getCompetitiveSummary` requests.
        required: true
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /products/pricing/v0/price:
    get:
      tags:
      - productPricing
      description: 'Returns pricing information for a seller''s offer listings based on seller SKU or ASIN.


        **Note:** The parameters associated with this operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 1 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getPricing
      parameters:
      - name: MarketplaceId
        in: query
        description: A marketplace identifier. Specifies the marketplace for which prices are returned.
        required: true
        schema:
          type: string
      - name: Asins
        in: query
        description: A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in the given marketplace.
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 20
      - name: Skus
        in: query
        description: A list of up to twenty seller SKU values used to identify items in the given marketplace.
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 20
      - name: ItemType
        in: query
        description: Indicates whether ASIN values or seller SKU values are used to identify items. If you specify Asin, the information in the response will be dependent on the list of Asins you provide in the Asins parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you provide in the Skus parameter.
        required: true
        x-docgen-enum-table-extension:
        - value: Asin
          description: The Amazon Standard Identification Number (ASIN).
        - value: Sku
          description: The seller SKU.
        schema:
          type: string
          enum:
          - Asin
          - Sku
      - name: ItemCondition
        in: query
        description: 'Filters the offer listings based on item condition. Possible values: New, Used, Collectible, Refurbished, Club.'
        required: false
        x-docgen-enum-table-extension:
        - value: New
          description: New
        - value: Used
          description: Used
        - value: Collectible
          description: Collectible
        - value: Refurbished
          description: Refurbished
        - value: Club
          description: Club
        schema:
          type: string
          enum:
          - New
          - Used
          - Collectible
          - Refurbished
          - Club
      - name: OfferType
        in: query
        description: Indicates whether to request pricing information for the seller's B2C or B2B offers. Default is B2C.
        required: false
        x-docgen-enum-table-extension:
        - value: B2C
          description: B2C
        - value: B2B
          description: B2B
        schema:
          type: string
          enum:
          - B2C
          - B2B
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Asin
              response:
                payload:
                - status: Success
                  ASIN: B00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    Offers:
                    - BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00V5DG6IQ
                - status: Success
                  ASIN: B00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    Offers:
                    - BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00551Q3CS
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Sku
              response:
                payload:
                - status: Success
                  SellerSKU: NABetaASINB00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ATVPDKIKX0DER
                        SellerId: AXXXXXXXXXXXXX
                        SellerSKU: NABetaASINB00V5DG6IQ
                    Offers:
                    - BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00V5DG6IQ
                - status: Success
                  SellerSKU: NABetaASINB00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ATVPDKIKX0DER
                        SellerId: AXXXXXXXXXXXXX
                        SellerSKU: NABetaASINB00551Q3CS
                    Offers:
                    - BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 10.0
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00551Q3CS
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Asin
                  OfferType:
                    value: B2B
              response:
                payload:
                - status: Success
                  ASIN: B00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    Offers:
                    - offerType: B2B
                      BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 9.5
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 9.5
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      quantityDiscountPrices:
                      - quantityTier: 2
                        quantityDiscountType: QUANTITY_DISCOUNT
                        listingPrice:
                          CurrencyCode: USD
                          Amount: 8.0
                      - quantityTier: 3
                        quantityDiscountType: QUANTITY_DISCOUNT
                        listingPrice:
                          CurrencyCode: USD
                          Amount: 7.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00V5DG6IQ
                - status: Success
                  ASIN: B00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    Offers:
                    - offerType: B2B
                      BuyingPrice:
                        ListingPrice:
                          CurrencyCode: USD
                          Amount: 8.0
                        LandedPrice:
                          CurrencyCode: USD
                          Amount: 8.0
                        Shipping:
                          CurrencyCode: USD
                          Amount: 0.0
                      RegularPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      FulfillmentChannel: MERCHANT
                      ItemCondition: New
                      ItemSubCondition: New
                      SellerSKU: NABetaASINB00551Q3CS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MarketplaceId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '401':
          description: The request's Authorization header is not formatted correctly or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /products/pricing/v0/competitivePrice:
    get:
      tags:
      - productPricing
      description: 'Returns competitive pricing information for a seller''s offer listings based on seller SKU or ASIN.


        **Note:** The parameters associated with this operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 1 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getCompetitivePricing
      parameters:
      - name: MarketplaceId
        in: query
        description: A marketplace identifier. Specifies the marketplace for which prices are returned.
        required: true
        schema:
          type: string
      - name: Asins
        in: query
        description: A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in the given marketplace.
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 20
      - name: Skus
        in: query
        description: A list of up to twenty seller SKU values used to identify items in the given marketplace.
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 20
      - name: ItemType
        in: query
        description: 'Indicates whether ASIN values or seller SKU values are used to identify items. If you specify Asin, the information in the response will be dependent on the list of Asins you provide in the Asins parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you provide in the Skus parameter. Possible values: Asin, Sku.'
        required: true
        x-docgen-enum-table-extension:
        - value: Asin
          description: The Amazon Standard Identification Number (ASIN).
        - value: Sku
          description: The seller SKU.
        schema:
          type: string
          enum:
          - Asin
          - Sku
      - name: CustomerType
        in: query
        description: Indicates whether to request pricing information from the point of view of Consumer or Business buyers. Default is Consumer.
        required: false
        x-docgen-enum-table-extension:
        - value: Consumer
          description: Consumer
        - value: Business
          description: Business
        schema:
          type: string
          enum:
          - Consumer
          - Business
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Asin
              response:
                payload:
                - status: Success
                  ASIN: B00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '4545645646'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 10
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 120
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 20
                        condition: new
                      TradeInValue:
                        CurrencyCode: USD
                        Amount: 10
                    SalesRankings:
                    - ProductCategoryId: '325345'
                      Rank: 1
                - status: Success
                  ASIN: B00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '45456452646'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 10
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 120
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 1
                        condition: new
                      TradeInValue:
                        CurrencyCode: string
                        Amount: 0
                    SalesRankings:
                    - ProductCategoryId: '54564'
                      Rank: 1
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Sku
              response:
                payload:
                - status: Success
                  SellerSKU: NABetaASINB00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ATVPDKIKX0DER
                        SellerId: AXXXXXXXXXXXXX
                        SellerSKU: NABetaASINB00V5DG6IQ
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '3454535'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 10
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 120
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 402
                        condition: new
                      TradeInValue:
                        CurrencyCode: USD
                        Amount: 20
                    SalesRankings:
                    - ProductCategoryId: '676554'
                      Rank: 1
                - status: Success
                  SellerSKU: NABetaASINB00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ATVPDKIKX0DER
                        SellerId: AXXXXXXXXXXXXX
                        SellerSKU: NABetaASINB00551Q3CS
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '4545645646'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 10
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 120
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 402
                        condition: new
                      TradeInValue:
                        CurrencyCode: USD
                        Amount: 20
                    SalesRankings:
                    - ProductCategoryId: '35345'
                      Rank: 1
            - request:
                parameters:
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  ItemType:
                    value: Asin
                  CustomerType:
                    value: Business
              response:
                payload:
                - status: Success
                  ASIN: B00V5DG6IQ
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00V5DG6IQ
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '1'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 120
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 10
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        offerType: B2C
                        sellerId: AXXXXXXXXXXXXX
                        belongsToRequester: true
                      - CompetitivePriceId: '1'
                        Price:
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 115
                        condition: new
                        offerType: B2B
                        quantityTier: 3
                        quantityDiscountType: QUANTITY_DISCOUNT
                        sellerId: AXXXXXXXXXXXXX
                        belongsToRequester: true
                      - CompetitivePriceId: '1'
                        Price:
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 110
                        condition: new
                        offerType: B2B
                        quantityTier: 5
                        quantityDiscountType: QUANTITY_DISCOUNT
                        sellerId: AXXXXXXXXXXXXX
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 3
                        condition: new
                      TradeInValue:
                        CurrencyCode: USD
                        Amount: 10
                    SalesRankings:
                    - ProductCategoryId: '325345'
                      Rank: 1
                - status: Success
                  ASIN: B00551Q3CS
                  Product:
                    Identifiers:
                      MarketplaceASIN:
                        MarketplaceId: ATVPDKIKX0DER
                        ASIN: B00551Q3CS
                      SKUIdentifier:
                        MarketplaceId: ''
                        SellerId: ''
                        SellerSKU: ''
                    CompetitivePricing:
                      CompetitivePrices:
                      - CompetitivePriceId: '1'
                        Price:
                          LandedPrice:
                            CurrencyCode: USD
                            Amount: 10
                          ListingPrice:
                            CurrencyCode: USD
                            Amount: 130
                          Shipping:
                            CurrencyCode: USD
                            Amount: 120
                          Points:
                            PointsNumber: 130
                            PointsMonetaryValue:
                              CurrencyCode: USD
                              Amount: 10
                        condition: new
                        offerType: B2B
                        sellerId: AXXXXXXXXXXXXX
                        belongsToRequester: true
                      NumberOfOfferListings:
                      - Count: 1
                        condition: new
                      TradeInValue:
                        CurrencyCode: string
                        Amount: 0
                    SalesRankings:
                    - ProductCategoryId: '54564'
                      Rank: 1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  MarketplaceId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '401':
          description: The request's Authorization header is not formatted correctly or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /products/pricing/v0/listings/{SellerSKU}/offers:
    get:
      tags:
      - productPricing
      description: 'Returns the lowest priced offers for a single SKU listing.


        **Note:** The parameters associated with this operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 2 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getListingOffers
      parameters:
      - name: MarketplaceId
        in: query
        description: A marketplace identifier. Specifies the marketplace for which prices are returned.
        required: true
        schema:
          type: string
      - name: ItemCondition
        in: query
        description: 'Filters the offer listings based on item condition. Possible values: New, Used, Collectible, Refurbished, Club.'
        required: true
        x-docgen-enum-table-extension:
        - value: New
          description: New
        - value: Used
          description: Used
        - value: Collectible
          description: Collectible
        - value: Refurbished
          description: Refurbished
        - value: Club
          description: Club
        schema:
          type: string
          enum:
          - New
          - Used
          - Collectible
          - Refurbished
          - Club
      - name: SellerSKU
        in: path
        description: Identifies an item in the given marketplace. SellerSKU is qualified by the seller's SellerId, which is included with every operation that you submit.
        required: true
        schema:
          type: string
      - name: CustomerType
        in: query
        description: Indicates whether to request Consumer or Business offers. Default is Consumer.
        required: false
        x-docgen-enum-table-extension:
        - value: Consumer
          description: Consumer
        - value: Business
          description: Business
        schema:
          type: string
          enum:
          - Consumer
          - Business
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  SellerSKU:
                    value: NABetaASINB00V5DG6IQ
                  MarketplaceId:
                    value: ATVPDKIKX0DER
              response:
                payload:
                  SKU: NABetaASINB00V5DG6IQ
                  status: Success
                  ItemCondition: New
                  Identifier:
                    MarketplaceId: ATVPDKIKX0DER
                    ItemCondition: New
                    SellerSKU: NABetaASINB00V5DG6IQ
                  Summary:
                    LowestPrices:
                    - condition: new
                      fulfillmentChannel: Merchant
                      LandedPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      Shipping:
                        CurrencyCode: USD
                        Amount: 0.0
                    NumberOfOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxEligibleOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    TotalOfferCount: 1
                  Offers:
                  - Shipping:
                      CurrencyCode: USD
                      Amount: 0.0
                    ListingPrice:
                      CurrencyCode: USD
                      Amount: 10.0
                    ShippingTime:
                      maximumHours: 48
                      minimumHours: 24
                      availabilityType: NOW
                    SellerFeedbackRating:
                      FeedbackCount: 0
                      SellerPositiveFeedbackRating: 0.0
                    ShipsFrom:
                      State: WA
                      Country: US
                    SubCondition: new
                    IsFeaturedMerchant: false
                    SellerId: AXXXXXXXXXXXXX
                    MyOffer: true
                    IsFulfilledByAmazon: false
                  marketplaceId: ATVPDKIKX0DER
            - request:
                parameters:
                  SellerSKU:
                    value: NABetaASINB00V5DG6IQ
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  CustomerType:
                    value: Business
              response:
                payload:
                  SKU: NABetaASINB00V5DG6IQ
                  status: Success
                  ItemCondition: New
                  Identifier:
                    MarketplaceId: ATVPDKIKX0DER
                    ItemCondition: New
                    SellerSKU: NABetaASINB00V5DG6IQ
                  Summary:
                    LowestPrices:
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      LandedPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      Shipping:
                        CurrencyCode: USD
                        Amount: 0.0
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      quantityTier: 20
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 8.0
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      quantityTier: 30
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 6.0
                    NumberOfOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxEligibleOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxPrices:
                    - condition: new
                      offerType: B2B
                      ListingPrice:
                        Amount: 9.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 9.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    - condition: new
                      offerType: B2B
                      quantityTier: 20
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    - condition: new
                      offerType: B2B
                      quantityTier: 30
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    TotalOfferCount: 4
                  Offers:
                  - Shipping:
                      CurrencyCode: USD
                      Amount: 0.0
                    ListingPrice:
                      CurrencyCode: USD
                      Amount: 10.0
                    quantityDiscountPrices:
                    - quantityTier: 2
                      quantityDiscountType: QUANTITY_DISCOUNT
                      listingPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                    - quantityTier: 3
                      quantityDiscountType: QUANTITY_DISCOUNT
                      listingPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                    ShippingTime:
                      maximumHours: 48
                      minimumHours: 24
                      availabilityType: NOW
                    SellerFeedbackRating:
                      FeedbackCount: 0
                      SellerPositiveFeedbackRating: 0.0
                    ShipsFrom:
                      State: WA
                      Country: US
                    SubCondition: new
                    IsFeaturedMerchant: false
                    SellerId: AXXXXXXXXXXXXX
                    MyOffer: true
                    IsFulfilledByAmazon: false
                  marketplaceId: ATVPDKIKX0DER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  SellerSKU:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '401':
          description: The request's Authorization header is not formatted correctly or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /products/pricing/v0/items/{Asin}/offers:
    get:
      tags:
      - productPricing
      description: 'Returns the lowest priced offers for a single item based on ASIN.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 1 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getItemOffers
      parameters:
      - name: MarketplaceId
        in: query
        description: A marketplace identifier. Specifies the marketplace for which prices are returned.
        required: true
        schema:
          type: string
      - name: ItemCondition
        in: query
        description: 'Filters the offer listings to be considered based on item condition. Possible values: New, Used, Collectible, Refurbished, Club.'
        required: true
        x-docgen-enum-table-extension:
        - value: New
          description: New
        - value: Used
          description: Used
        - value: Collectible
          description: Collectible
        - value: Refurbished
          description: Refurbished
        - value: Club
          description: Club
        schema:
          type: string
          enum:
          - New
          - Used
          - Collectible
          - Refurbished
          - Club
      - name: Asin
        in: path
        description: The Amazon Standard Identification Number (ASIN) of the item.
        required: true
        schema:
          type: string
      - name: CustomerType
        in: query
        description: Indicates whether to request Consumer or Business offers. Default is Consumer.
        required: false
        x-docgen-enum-table-extension:
        - value: Consumer
          description: Consumer
        - value: Business
          description: Business
        schema:
          type: string
          enum:
          - Consumer
          - Business
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  Asin:
                    value: B00V5DG6IQ
                  MarketplaceId:
                    value: ATVPDKIKX0DER
              response:
                payload:
                  ASIN: B00V5DG6IQ
                  status: Success
                  ItemCondition: New
                  Identifier:
                    MarketplaceId: ATVPDKIKX0DER
                    ItemCondition: New
                    ASIN: B00V5DG6IQ
                  Summary:
                    LowestPrices:
                    - condition: new
                      fulfillmentChannel: Merchant
                      LandedPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      Shipping:
                        CurrencyCode: USD
                        Amount: 0.0
                    NumberOfOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxEligibleOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    TotalOfferCount: 1
                  Offers:
                  - Shipping:
                      CurrencyCode: USD
                      Amount: 0.0
                    ListingPrice:
                      CurrencyCode: USD
                      Amount: 10.0
                    ShippingTime:
                      maximumHours: 48
                      minimumHours: 24
                      availabilityType: NOW
                    SellerFeedbackRating:
                      FeedbackCount: 0
                      SellerPositiveFeedbackRating: 0.0
                    ShipsFrom:
                      State: WA
                      Country: US
                    SubCondition: new
                    IsFeaturedMerchant: false
                    SellerId: AXXXXXXXXXXXXX
                    IsFulfilledByAmazon: false
                  marketplaceId: ATVPDKIKX0DER
            - request:
                parameters:
                  Asin:
                    value: B00V5DG6IQ
                  MarketplaceId:
                    value: ATVPDKIKX0DER
                  CustomerType:
                    value: Business
              response:
                payload:
                  ASIN: B00V5DG6IQ
                  status: Success
                  ItemCondition: New
                  Identifier:
                    MarketplaceId: ATVPDKIKX0DER
                    ItemCondition: New
                    ASIN: B00V5DG6IQ
                  Summary:
                    LowestPrices:
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      LandedPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 10.0
                      Shipping:
                        CurrencyCode: USD
                        Amount: 0.0
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      quantityTier: 20
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 8.0
                    - condition: new
                      fulfillmentChannel: Merchant
                      offerType: B2B
                      quantityTier: 30
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        CurrencyCode: USD
                        Amount: 6.0
                    NumberOfOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxEligibleOffers:
                    - condition: new
                      fulfillmentChannel: Merchant
                    BuyBoxPrices:
                    - condition: new
                      offerType: B2B
                      ListingPrice:
                        Amount: 9.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 9.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    - condition: new
                      offerType: B2B
                      quantityTier: 20
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    - condition: new
                      offerType: B2B
                      quantityTier: 30
                      quantityDiscountType: QUANTITY_DISCOUNT
                      ListingPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                      Shipping:
                        Amount: 0.0
                        CurrencyCode: USD
                      LandedPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                      sellerId: AXXXXXXXXXXXXX
                    TotalOfferCount: 4
                  Offers:
                  - Shipping:
                      CurrencyCode: USD
                      Amount: 0.0
                    ListingPrice:
                      CurrencyCode: USD
                      Amount: 10.0
                    quantityDiscountPrices:
                    - quantityTier: 20
                      quantityDiscountType: QUANTITY_DISCOUNT
                      listingPrice:
                        Amount: 8.0
                        CurrencyCode: USD
                    - quantityTier: 30
                      quantityDiscountType: QUANTITY_DISCOUNT
                      listingPrice:
                        Amount: 7.0
                        CurrencyCode: USD
                    ShippingTime:
                      maximumHours: 48
                      minimumHours: 24
                      availabilityType: NOW
                    SellerFeedbackRating:
                      FeedbackCount: 0
                      SellerPositiveFeedbackRating: 0.0
                    ShipsFrom:
                      State: WA
                      Country: US
[...]
