openapi: 3.1.0
info:
  title: Amazon Selling Partner API (SP-API) Authentication API
  version: 1.0.0
  description: 'Modern REST API enabling Amazon sellers, vendors, and third-party

    developers to programmatically access Seller Central data and

    operations. Coverage includes catalog management, orders, inventory,

    pricing, fulfillment, reports, feeds, finances, notifications, and

    tokens. Authentication uses Login with Amazon (LWA) OAuth 2.0

    access tokens (`x-amz-access-token`) and optional Restricted Data

    Tokens for PII. SP-API replaces the legacy Amazon MWS.

    '
  contact:
    name: Amazon Selling Partner API
    url: https://developer-docs.amazon.com/sp-api
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- LwaBearer: []
tags:
- name: Authentication
paths:
  /auth/o2/token:
    servers:
    - url: https://api.amazon.com
      description: Login with Amazon
    post:
      tags:
      - Authentication
      summary: Exchange refresh token or client credentials for an LWA access token
      operationId: lwaToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - refresh_token
                  - client_credentials
                refresh_token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                scope:
                  type: string
              required:
              - grant_type
              - client_id
              - client_secret
      responses:
        '200':
          description: Access token.
components:
  securitySchemes:
    LwaBearer:
      type: apiKey
      in: header
      name: x-amz-access-token
      description: Login with Amazon (LWA) OAuth 2.0 access token.
