openapi: 3.2.0
info:
  title: Amazon Selling Partner API (SP-API) Authentication Notifications API
  version: 1.0.0
  description: 'Modern REST API enabling Amazon sellers, vendors, and third-party

    developers to programmatically access Seller Central data and

    operations. Coverage includes catalog management, orders, inventory,

    pricing, fulfillment, reports, feeds, finances, notifications, and

    tokens. Authentication uses Login with Amazon (LWA) OAuth 2.0

    access tokens (`x-amz-access-token`) and optional Restricted Data

    Tokens for PII. SP-API replaces the legacy Amazon MWS.

    '
  contact:
    name: Amazon Selling Partner API
    url: https://developer-docs.amazon.com/sp-api
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- LwaBearer: []
tags:
- name: Notifications
paths:
  /notifications/v1/subscriptions/{notificationType}:
    parameters:
    - in: path
      name: notificationType
      required: true
      schema:
        type: string
    post:
      tags:
      - Notifications
      summary: Create a subscription
      operationId: createSubscription
      responses:
        '200':
          description: Subscription.
    get:
      tags:
      - Notifications
      summary: Get a subscription
      operationId: getSubscription
      responses:
        '200':
          description: Subscription.
components:
  securitySchemes:
    LwaBearer:
      type: apiKey
      in: header
      name: x-amz-access-token
      description: Login with Amazon (LWA) OAuth 2.0 access token.
