openapi: 3.2.0
info:
  title: Amazon Seller Central Listings API
  version: '2021-08-01'
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged listings across 2 of this provider''s published API definitions: amazon-seller-central-listings-items-2021-08-01-original.json, amazon-seller-central-listings-restrictions-2021-08-01-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sellingpartnerapi-na.amazon.com
tags:
- name: listings
paths:
  /listings/2021-08-01/items/{sellerId}/{sku}:
    delete:
      tags:
      - listings
      description: 'Delete a listings item for a selling partner.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 5 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API documentation.'
      operationId: deleteListingsItem
      parameters:
      - name: sellerId
        description: A selling partner identifier, such as a merchant account or vendor code.
        in: path
        required: true
        schema:
          type: string
      - name: sku
        description: A selling partner-provided identifier for an Amazon listing.
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceIds
        description: A comma-delimited list of Amazon store identifiers for the request.
        in: query
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 1
      - name: issueLocale
        description: 'A locale for localization of issues. When not provided, the default language code of the first Amazon store is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when localization is not available for the specified locale.'
        in: query
        required: false
        x-example: en_US
        schema:
          type: string
      responses:
        '200':
          description: Successfully understood the listings item delete request. Refer to the response to determine whether the submission has been accepted.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsItemSubmissionResponse'
              example:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  sku:
                    value: BadSKU
              response:
                errors:
                - code: BAD_REQUEST
                  message: Invalid input
                  details: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
    get:
      tags:
      - listings
      description: 'Returns details about a listings item for a selling partner.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 10 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API documentation.'
      operationId: getListingsItem
      parameters:
      - name: sellerId
        description: A selling partner identifier, such as a merchant account or vendor code.
        in: path
        required: true
        schema:
          type: string
      - name: sku
        description: A selling partner-provided identifier for an Amazon listing.
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceIds
        description: A comma-delimited list of Amazon store identifiers for the request.
        in: query
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: issueLocale
        description: 'A locale for localization of issues. When not provided, the default language code of the first Amazon store is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when localization is not available for the specified locale.'
        in: query
        required: false
        x-example: en_US
        schema:
          type: string
      - name: includedData
        description: 'A comma-delimited list of data sets to include in the response. Default: `summaries`.'
        in: query
        required: false
        x-example: summaries
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - summaries
            - attributes
            - issues
            - offers
            - fulfillmentAvailability
            - procurement
            - relationships
            - productTypes
            x-docgen-enum-table-extension:
            - value: summaries
              description: Summary details of the listing item.
            - value: attributes
              description: JSON object containing structured listing item attribute data keyed by attribute name.
            - value: issues
              description: Issues associated with the listing item.
            - value: offers
              description: Current offers for the listing item.
            - value: fulfillmentAvailability
              description: Fulfillment availability details for the listing item.
            - value: procurement
              description: Vendor procurement details for the listing item.
            - value: relationships
              description: Relationship details for a listing item (for example, variations).
            - value: productTypes
              description: Product types that are associated with a listing item.
            type: string
          default:
          - summaries
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body: {}
              response:
                sku: GM-ZDPI-9B4E
                summaries:
                - marketplaceId: ATVPDKIKX0DER
                  asin: B071VG5N9D
                  productType: LUGGAGE
                  conditionType: new_new
                  status:
                  - BUYABLE
                  itemName: Hardside Carry-On Spinner Suitcase Luggage
                  createdDate: '2021-02-01T00:00:00Z'
                  lastUpdatedDate: '2021-03-01T00:00:00Z'
                  mainImage:
                    link: https://www.example.com/luggage.png
                    height: 500
                    width: 500
                - marketplaceId: A2EUQ1WTGCTBG2
                  asin: B071VG5N9D
                  productType: LUGGAGE
                  conditionType: new_new
                  status: []
                  itemName: Hardside Carry-On Spinner Suitcase Luggage
                  createdDate: '2021-02-02T01:00:00Z'
                  lastUpdatedDate: '2021-03-05T00:00:00Z'
                  mainImage:
                    link: https://www.example.com/luggage.png
                    height: 500
                    width: 500
                offers:
                - marketplaceId: ATVPDKIKX0DER
                  offerType: B2C
                  price:
                    currencyCode: USD
                    amount: '100.00'
                  audience:
                    value: ALL
                    displayName: Sell on Amazon
                - marketplaceId: A2EUQ1WTGCTBG2
                  offerType: B2C
                  price:
                    currencyCode: CAD
                    amount: '130.00'
                  audience:
                    value: ALL
                    displayName: Sell on Amazon
                fulfillmentAvailability:
                - fulfillmentChannelCode: DEFAULT
                  quantity: 100
                issues:
                - code: '90220'
                  message: '''size'' is required but not supplied.'
                  severity: ERROR
                  attributeNames:
                  - size
                  categories:
                  - MISSING_ATTRIBUTE
                  - LISTING
                  marketplaceIds:
                  - ATVPDKIKX0DER
                - code: '18027'
                  message: We believe the main image has text, logo, graphic, or watermark that is not permitted for this product type. Submit a compliant image to lift the suppression. Also refer to Product image requirements.
                  severity: ERROR
                  categories:
                  - INVALID_IMAGE
                  - LISTING
                  enforcements:
                    actions:
                    - action: SEARCH_SUPPRESSED
                    exemption:
                      status: EXEMPT_UNTIL_EXPIRY_DATE
                      expiryDate: '2025-05-28T00:36:48.914Z'
                  marketplaceIds:
                  - ATVPDKIKX0DER
                  - A2EUQ1WTGCTBG2
                - code: '99300'
                  message: Product Detail Page Rules Violation (Inaccurate information on product detail page).
                  severity: ERROR
                  categories:
                  - PRODUCT
                  enforcements:
                    actions:
                    - action: ATTRIBUTE_SUPPRESSED
                    exemption:
                      status: EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
                  - A2EUQ1WTGCTBG2
                - code: '18155'
                  message: The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Review and update your price and/or minimum price.
                  severity: ERROR
                  categories:
                  - INVALID_PRICE
                  - LISTING
                  enforcements:
                    actions:
                    - action: LISTING_SUPPRESSED
                    exemption:
                      status: NOT_EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
                - code: '18742'
                  message: Restricted Products Policy Violation
                  severity: ERROR
                  categories:
                  - PRODUCT
                  enforcements:
                    actions:
                    - action: CATALOG_ITEM_REMOVED
                    exemption:
                      status: NOT_EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
              example:
                sku: GM-ZDPI-9B4E
                summaries:
                - marketplaceId: ATVPDKIKX0DER
                  asin: B071VG5N9D
                  productType: LUGGAGE
                  conditionType: new_new
                  status:
                  - BUYABLE
                  itemName: Hardside Carry-On Spinner Suitcase Luggage
                  createdDate: '2021-02-01T00:00:00Z'
                  lastUpdatedDate: '2021-03-01T00:00:00Z'
                  mainImage:
                    link: https://www.example.com/luggage.png
                    height: 500
                    width: 500
                - marketplaceId: A2EUQ1WTGCTBG2
                  asin: B071VG5N9D
                  productType: LUGGAGE
                  conditionType: new_new
                  status: []
                  itemName: Hardside Carry-On Spinner Suitcase Luggage
                  createdDate: '2021-02-02T01:00:00Z'
                  lastUpdatedDate: '2021-03-05T00:00:00Z'
                  mainImage:
                    link: https://www.example.com/luggage.png
                    height: 500
                    width: 500
                offers:
                - marketplaceId: ATVPDKIKX0DER
                  offerType: B2C
                  price:
                    currencyCode: USD
                    amount: '100.00'
                  audience:
                    value: ALL
                    displayName: Sell on Amazon
                - marketplaceId: A2EUQ1WTGCTBG2
                  offerType: B2C
                  price:
                    currencyCode: CAD
                    amount: '130.00'
                  audience:
                    value: ALL
                    displayName: Sell on Amazon
                fulfillmentAvailability:
                - fulfillmentChannelCode: DEFAULT
                  quantity: 100
                issues:
                - code: '90220'
                  message: '''size'' is required but not supplied.'
                  severity: ERROR
                  attributeNames:
                  - size
                  categories:
                  - MISSING_ATTRIBUTE
                  - LISTING
                  marketplaceIds:
                  - ATVPDKIKX0DER
                - code: '18027'
                  message: We believe the main image has text, logo, graphic, or watermark that is not permitted for this product type. Submit a compliant image to lift the suppression. Also refer to Product image requirements.
                  severity: ERROR
                  categories:
                  - INVALID_IMAGE
                  - LISTING
                  enforcements:
                    actions:
                    - action: SEARCH_SUPPRESSED
                    exemption:
                      status: EXEMPT_UNTIL_EXPIRY_DATE
                      expiryDate: '2025-05-28T00:36:48.914Z'
                  marketplaceIds:
                  - ATVPDKIKX0DER
                  - A2EUQ1WTGCTBG2
                - code: '99300'
                  message: Product Detail Page Rules Violation (Inaccurate information on product detail page).
                  severity: ERROR
                  categories:
                  - PRODUCT
                  enforcements:
                    actions:
                    - action: ATTRIBUTE_SUPPRESSED
                    exemption:
                      status: EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
                  - A2EUQ1WTGCTBG2
                - code: '18155'
                  message: The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Review and update your price and/or minimum price.
                  severity: ERROR
                  categories:
                  - INVALID_PRICE
                  - LISTING
                  enforcements:
                    actions:
                    - action: LISTING_SUPPRESSED
                    exemption:
                      status: NOT_EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
                - code: '18742'
                  message: Restricted Products Policy Violation
                  severity: ERROR
                  categories:
                  - PRODUCT
                  enforcements:
                    actions:
                    - action: CATALOG_ITEM_REMOVED
                    exemption:
                      status: NOT_EXEMPT
                  marketplaceIds:
                  - ATVPDKIKX0DER
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  sku:
                    value: BadSKU
              response:
                errors:
                - code: BAD_REQUEST
                  message: Invalid input
                  details: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
    patch:
      tags:
      - listings
      description: 'Partially update (patch) a listings item for a selling partner. Only top-level listings item attributes can be patched. Patching nested attributes is not supported.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 5 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API documentation.'
      operationId: patchListingsItem
      parameters:
      - name: sellerId
        description: A selling partner identifier, such as a merchant account or vendor code.
        in: path
        required: true
        schema:
          type: string
      - name: sku
        description: A selling partner-provided identifier for an Amazon listing.
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceIds
        description: A comma-delimited list of Amazon store identifiers for the request.
        in: query
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: includedData
        description: 'A comma-delimited list of data sets to include in the response. Default: `issues`.'
        in: query
        required: false
        x-example: issues
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - identifiers
            - issues
            x-docgen-enum-table-extension:
            - value: identifiers
              description: Identifiers associated with the item in the Amazon catalog, such as the Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`.
            - value: issues
              description: Issues associated with the listing item.
            type: string
          default:
          - issues
      - name: mode
        description: Describes the mode of operation for the request.
        in: query
        x-docgen-enum-table-extension:
        - value: VALIDATION_PREVIEW
          description: Indicates the submitted data should be validated without persisting to the selling partner's catalog.
        required: false
        x-example: VALIDATION_PREVIEW
        schema:
          type: string
          enum:
          - VALIDATION_PREVIEW
      - name: issueLocale
        description: 'A locale for localization of issues. When not provided, the default language code of the first Amazon store is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when localization is not available for the specified locale.'
        in: query
        required: false
        x-example: en_US
        schema:
          type: string
      responses:
        '200':
          description: Successfully understood the listings item patch request. Refer to the response to determine if the submission was accepted.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body: {}
              response:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
            - request:
                parameters:
                  sku:
                    value: VALIDATION_VALID
                  marketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                  includedData:
                    value:
                    - identifiers
                    - issues
                  mode:
                    value: VALIDATION_PREVIEW
              response:
                sku: VALIDATION_VALID
                status: VALID
                submissionId: 1edc94ea-a3d7-210b-42bc-0ec72c1384762
                identifiers:
                - marketplaceId: ATVPDKIKX0DER
                  asin: B07N4M94X4
                issues: []
            - request:
                parameters:
                  sku:
                    value: VALIDATION_INVALID
                  marketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                  includedData:
                    value:
                    - identifiers
                    - issues
                  mode:
                    value: VALIDATION_PREVIEW
              response:
                sku: VALIDATION_INVALID
                status: INVALID
                submissionId: a1c562c2-1695-11ee-be56-0242ac120002
                identifiers: []
                issues:
                - code: '90000900'
                  message: The attributes are invalid.
                  severity: ERROR
                  attributeNames:
                  - fake_attribute
                  categories:
                  - INVALID_ATTRIBUTE
                  - LISTING
                  enforcements:
                    actions:
                    - action: ATTRIBUTE_SUPPRESSED
                    exemption:
                      status: NOT_EXEMPT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsItemSubmissionResponse'
              example:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  sku:
                    value: BadSKU
              response:
                errors:
                - code: BAD_REQUEST
                  message: Invalid input
                  details: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingsItemPatchRequest'
        description: The request body schema for the `patchListingsItem` operation.
        required: true
    put:
      tags:
      - listings
      description: 'Creates a new or fully-updates an existing listings item for a selling partner.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 10 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput can receive higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api) in the Selling Partner API documentation.'
      operationId: putListingsItem
      parameters:
      - name: sellerId
        description: A selling partner identifier, such as a merchant account or vendor code.
        in: path
        required: true
        schema:
          type: string
      - name: sku
        description: A selling partner-provided identifier for an Amazon listing.
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceIds
        description: A comma-delimited list of Amazon store identifiers for the request.
        in: query
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 1
      - name: includedData
        description: 'A comma-delimited list of data sets to include in the response. Default: `issues`.'
        in: query
        required: false
        x-example: issues
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - identifiers
            - issues
            x-docgen-enum-table-extension:
            - value: identifiers
              description: Identifiers associated with the item in the Amazon catalog, such as the Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`.
            - value: issues
              description: Issues associated with the listing item.
            type: string
          default:
          - issues
      - name: mode
        description: Describes the mode of operation for the request.
        in: query
        x-docgen-enum-table-extension:
        - value: VALIDATION_PREVIEW
          description: Indicates the submitted data should be validated without persisting to the selling partner's catalog.
        required: false
        x-example: VALIDATION_PREVIEW
        schema:
          type: string
          enum:
          - VALIDATION_PREVIEW
      - name: issueLocale
        description: 'A locale for localization of issues. When not provided, the default language code of the first Amazon store is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when localization is not available for the specified locale.'
        in: query
        required: false
        x-example: en_US
        schema:
          type: string
      responses:
        '200':
          description: Successfully understood the request to create or fully-update a listings item. Refer to the response to determine if the submission has been accepted.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body: {}
              response:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
            - request:
                parameters:
                  sku:
                    value: VALIDATION_VALID
                  marketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                  includedData:
                    value:
                    - identifiers
                    - issues
                  mode:
                    value: VALIDATION_PREVIEW
              response:
                sku: VALIDATION_VALID
                status: VALID
                submissionId: 1edc94ea-a3d7-210b-42bc-0ec72c1384762
                identifiers:
                - marketplaceId: ATVPDKIKX0DER
                  asin: B07N4M94X4
                issues: []
            - request:
                parameters:
                  sku:
                    value: VALIDATION_INVALID
                  marketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                  includedData:
                    value:
                    - identifiers
                    - issues
                  mode:
                    value: VALIDATION_PREVIEW
              response:
                sku: VALIDATION_INVALID
                status: INVALID
                submissionId: a1c562c2-1695-11ee-be56-0242ac120002
                identifiers: []
                issues:
                - code: '90220'
                  message: '''condition_type'' is required but not supplied.'
                  severity: ERROR
                  attributeNames:
                  - condition_type
                  categories:
                  - MISSING_ATTRIBUTE
                  - LISTING
                  enforcements:
                    actions:
                    - action: LISTING_SUPPRESSED
                    exemption:
                      status: NOT_EXEMPT
                - code: '90000900'
                  message: The attributes are invalid.
                  severity: ERROR
                  attributeNames:
                  - fake_attribute
                  categories:
                  - LISTING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsItemSubmissionResponse'
              example:
                sku: GM-ZDPI-9B4E
                status: ACCEPTED
                submissionId: f1dc2914-75dd-11ea-bc55-0242ac130003
                issues: []
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  sku:
                    value: BadSKU
              response:
                errors:
                - code: BAD_REQUEST
                  message: Invalid input
                  details: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingsItemPutRequest'
        description: The request body schema for the `putListingsItem` operation.
        required: true
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /listings/2021-08-01/items/{sellerId}:
    get:
      tags:
      - listings
      description: 'Search for and return a list of selling partner listings items and their respective details.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 5 |


        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that are applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: searchListingsItems
      parameters:
      - name: sellerId
        description: A selling partner identifier, such as a merchant account or vendor code.
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceIds
        description: A comma-delimited list of Amazon store identifiers for the request.
        in: query
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: issueLocale
        description: 'A locale that is used to localize issues. When not provided, the default language code of the first Amazon store is used. Examples: "en_US", "fr_CA", "fr_FR". When a localization is not available in the specified locale, localized messages default to "en_US".'
        in: query
        required: false
        x-example: en_US
        schema:
          type: string
      - name: includedData
        description: 'A comma-delimited list of data sets that you want to include in the response. Default: `summaries`.'
        in: query
        required: false
        x-example: summaries
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - summaries
            - attributes
            - issues
            - offers
            - fulfillmentAvailability
            - procurement
            - relationships
            - productTypes
            x-docgen-enum-table-extension:
            - value: summaries
              description: Summary details for the listing item.
            - value: attributes
              description: A JSON object that contains structured listing item attribute data, keyed by attribute name.
            - value: issues
              description: Issues that are associated with the listing item.
            - value: offers
              description: Current offers for the listing item.
            - value: fulfillmentAvailability
              description: Fulfillment availability details for the listing item.
            - value: procurement
              description: Vendor procurement details for the listing item.
            - value: relationships
              description: Relationship details for a listing item (for example, variations).
            - value: productTypes
              description: Product types associated with a listing item.
            type: string
          default:
          - summaries
      - name: identifiers
        description: "A comma-delimited list of product identifiers that you can use to search for listings items. \n\n**Note**: \n1. This is required when you specify `identifiersType`.\n2. You cannot use 'identifiers' if you specify `variationParentSku` or `packageHierarchySku`."
        in: query
        required: false
        x-example: GM-ZDPI-9B4E
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 20
      - name: identifiersType
        description: "A type of product identifiers that you can use to search for listings items. \n\n**Note**: \nThis is required when `identifiers` is provided."
        in: query
        required: false
        x-docgen-enum-table-extension:
        - value: ASIN
          description: Amazon Standard Identification Number.
        - value: EAN
          description: European Article Number.
        - value: FNSKU
          description: Fulfillment Network Stock Keeping Unit.
        - value: GTIN
          description: Global Trade Item Number.
        - value: ISBN
          description: International Standard Book Number.
        - value: JAN
          description: Japanese Article Number.
        - value: MINSAN
          description: Minsan Code.
        - value: SKU
          description: 'Stock Keeping Unit (SKU): A seller-specified identifier for an Amazon listing.'
        - value: UPC
          description: Universal Product Code.
        x-example: SKU
        schema:
          type: string
          enum:
          - ASIN
          - EAN
          - FNSKU
          - GTIN
          - ISBN
          - JAN
          - MINSAN
          - SKU
          - UPC
      - name: variationParentSku
        description: "Filters results to include listing items that are variation children of the specified SKU. \n\n**Note**: You cannot use `variationParentSku` if you include `identifiers` or `packageHierarchySku` in your request."
        in: query
        required: false
        x-example: GM-ZDPI-9B4E
        schema:
          type: string
      - name: packageHierarchySku
        description: "Filter results to include listing items that contain or are contained by the specified SKU. \n\n**Note**: You cannot use `packageHierarchySku` if you include `identifiers` or `variationParentSku` in your request."
        in: query
        required: false
        x-example: GM-ZDPI-9B4E
        schema:
          type: string
      - name: createdAfter
        description: A date-time that is used to filter listing items. The response includes listings items that were created at or after this time. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        in: query
        required: false
        x-example: '2024-03-01T01:30:00.000Z'
        schema:
          type: string
          format: date-time
      - name: createdBefore
        description: A date-time that is used to filter listing items. The response includes listings items that were created at or before this time. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        in: query
        required: false
        x-example: '2024-03-31T21:45:00.000Z'
        schema:
          type: string
          format: date-time
      - name: lastUpdatedAfter
        description: A date-time that is used to filter listing items. The response includes listings items that were last updated at or after this time. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        in: query
        required: false
        x-example: '2024-05-05T23:45:00.000Z'
        schema:
          type: string
          format: date-time
      - name: lastUpdatedBefore
        description: A date-time that is used to filter listing items. The response includes listings items that were last updated at or before this time. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        in: query
        required: false
        x-example: '2024-05-01T01:15:00.000Z'
        schema:
          type: string
          format: date-time
      - name: withIssueSeverity
        description: Filter results to include only listing items that have issues that match one or more of the specified severity levels.
        in: query
        required: false
        x-example: WARNING
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - WARNING
            - ERROR
            type: string
            x-docgen-enum-table-extension:
            - value: ERROR
              description: Indicates that an issue has occurred, which prevented the submission from processing. For example, a validation error.
            - value: WARNING
              description: Indicates an issue has occurred that should be reviewed, but it has not prevented the submission from processing.
      - name: withStatus
        description: Filter results to include only listing items that have the specified status.
        in: query
        required: false
        x-example: DISCOVERABLE
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - BUYABLE
            - DISCOVERABLE
            type: string
            x-docgen-enum-table-extension:
            - value: BUYABLE
              description: The listings item that shoppers can purchase. This status does not apply to vendor listings.
            - value: DISCOVERABLE
              description: The listings item is visible to shoppers.
      - name: withoutStatus
        description: Filter results to include only listing items that don't contain the specified statuses.
        in: query
        required: false
        x-example: BUYABLE
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - BUYABLE
            - DISCOVERABLE
            type: string
            x-docgen-enum-table-extension:
            - value: BUYABLE
              description: The listings item can be purchased by shoppers. This status does not apply to vendor listings.
            - value: DISCOVERABLE
              description: The listings item is visible to shoppers.
      - name: sortBy
        description: An attribute by which to sort the returned listing items.
        in: query
        required: false
        x-docgen-enum-table-extension:
        - value: sku
          description: Stock Keeping Unit, a seller-specified identifier for an Amazon listing.
        - value: createdDate
          description: The date when the listing item was created. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        - value: lastUpdatedDate
          description: The date when the listing item was last updated. Values are in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        x-example: lastUpdatedDate
        schema:
          type: string
          enum:
          - sku
          - createdDate
          - lastUpdatedDate
          default: lastUpdatedDate
      - name: sortOrder
        description: The order in which to sort the result items.
        in: query
        required: false
        x-docgen-enum-table-extension:
        - value: ASC
          description: Ascending order.
        - value: DESC
          description: Descending order.
        x-example: DESC
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: DESC
      - name: pageSize
        description: The number of results that you want to include on each page.
        in: query
        required: false
        x-example: 9
        schema:
          type: integer
          default: 10
          maximum: 20
      - name: pageToken
        description: A token that you can use to fetch a specific page when there are multiple pages of results.
        in: query
        required: false
        x-example: sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  identifiersType:
                    value: SKU
                  identifiers:
                    value:
                    - GM-ZDPI-9B4E
                    - HW-ZDPI-9B4E
                    - TC-ZDPI-9B4E
                  marketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                    - A2EUQ1WTGCTBG2
                  includedData:
                    value:
                    - summaries
                    - offers
                    - fulfillmentAvailability
                    - issues
                  pageSize:
                    value: 1
              response:
                numberOfResults: 3
                pagination:
                  nextToken: xsdflkj324lkjsdlkj3423klkjsdfkljlk2j34klj2l3k4jlksdjl234
                  previousToken: ilkjsdflkj234lkjds234234lkjl234lksjdflkj234234lkjsfsdflkj333d
                items:
                - sku: GM-ZDPI-9B4E
                  summaries:
                  - marketplaceId: ATVPDKIKX0DER
                    asin: B071VG5N9D
                    productType: LUGGAGE
                    conditionType: new_new
                    status:
                    - BUYABLE
                    itemName: Hardside Carry-On Spinner Suitcase Luggage
                    createdDate: '2021-02-01T00:00:00Z'
                    lastUpdatedDate: '2021-03-01T00:00:00Z'
                    mainImage:
                      link: https://www.example.com/luggage.png
                      height: 500
                      width: 500
                  - marketplaceId: A2EUQ1WTGCTBG2
                    asin: B071VG5N9D
                    productType: LUGGAGE
                    conditionType: new_new
                    status: []
                    itemName: Hardside Carry-On Spinner Suitcase Luggage
                    createdDate: '2021-02-02T01:00:00Z'
                    lastUpdatedDate: '2021-03-05T00:00:00Z'
                    mainImage:
                      link: https://www.example.com/luggage.png
                      height: 500
                      width: 500
                  offers:
                  - marketplaceId: ATVPDKIKX0DER
                    offerType: B2C
                    price:
                      currencyCode: USD
                      amount: '100.00'
                  - marketplaceId: A2EUQ1WTGCTBG2
                    offerType: B2C
                    price:
                      currencyCode: CAD
                      amount: '130.00'
                  fulfillmentAvailability:
                  - fulfillmentChannelCode: DEFAULT
                    quantity: 100
                  issues:
                  - code: '90220'
                    message: '''size'' is required but not supplied.'
                    severity: ERROR
                    attributeNames:
                    - size
                    categories:
                    - MISSING_ATTRIBUTE
                    - LISTING
                    marketplaceIds:
                    - ATVPDKIKX0DER
                  - code: '18027'
                    message: We believe the main image has text, logo, graphic, or watermark that is not permitted for this product type. Submit a compliant image to lift the suppression. Also refer to Product image requirements.
                    severity: ERROR
                    categories:
                    - INVALID_IMAGE
                    - LISTING
                    enforcements:
                      actions:
                      - action: SEARCH_SUPPRESSED
                      exemption:
                        status: EXEMPT_UNTIL_EXPIRY_DATE
                        expiryDate: '2025-05-28T00:36:48.914Z'
                    marketplaceIds:
                    - ATVPDKIKX0DER
                    - A2EUQ1WTGCTBG2
                  - code: '99300'
                    message: Product Detail Page Rules Violation (Inaccurate information on product detail page).
                    severity: ERROR
                    categories:
                    - PRODUCT
                    enforcements:
                      actions:
                      - action: ATTRIBUTE_SUPPRESSED
                      exemption:
                        status: EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
                    - A2EUQ1WTGCTBG2
                  - code: '18155'
                    message: The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Review and update your price and/or minimum price.
                    severity: ERROR
                    categories:
                    - INVALID_PRICE
                    - LISTING
                    enforcements:
                      actions:
                      - action: LISTING_SUPPRESSED
                      exemption:
                        status: NOT_EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
                  - code: '18742'
                    message: Restricted Products Policy Violation
                    severity: ERROR
                    categories:
                    - PRODUCT
                    enforcements:
                      actions:
                      - action: CATALOG_ITEM_REMOVED
                      exemption:
                        status: NOT_EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemSearchResults'
              example:
                numberOfResults: 3
                pagination:
                  nextToken: xsdflkj324lkjsdlkj3423klkjsdfkljlk2j34klj2l3k4jlksdjl234
                  previousToken: ilkjsdflkj234lkjds234234lkjl234lksjdflkj234234lkjsfsdflkj333d
                items:
                - sku: GM-ZDPI-9B4E
                  summaries:
                  - marketplaceId: ATVPDKIKX0DER
                    asin: B071VG5N9D
                    productType: LUGGAGE
                    conditionType: new_new
                    status:
                    - BUYABLE
                    itemName: Hardside Carry-On Spinner Suitcase Luggage
                    createdDate: '2021-02-01T00:00:00Z'
                    lastUpdatedDate: '2021-03-01T00:00:00Z'
                    mainImage:
                      link: https://www.example.com/luggage.png
                      height: 500
                      width: 500
                  - marketplaceId: A2EUQ1WTGCTBG2
                    asin: B071VG5N9D
                    productType: LUGGAGE
                    conditionType: new_new
                    status: []
                    itemName: Hardside Carry-On Spinner Suitcase Luggage
                    createdDate: '2021-02-02T01:00:00Z'
                    lastUpdatedDate: '2021-03-05T00:00:00Z'
                    mainImage:
                      link: https://www.example.com/luggage.png
                      height: 500
                      width: 500
                  attributes:
                    total_hdmi_ports:
                    - value: 4
                      marketplace_id: ATVPDKIKX0DER
                    - value: 4
                      marketplace_id: A2EUQ1WTGCTBG2
                    resolution:
                    - language_tag: en_US
                      value: 4K
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: 4K
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_weight:
                    - unit: pounds
                      value: 107.6
                      marketplace_id: ATVPDKIKX0DER
                    - unit: pounds
                      value: 107.6
                      marketplace_id: A2EUQ1WTGCTBG2
                    product_subcategory:
                    - value: '50400120'
                      marketplace_id: ATVPDKIKX0DER
                    - value: '50400120'
                      marketplace_id: A2EUQ1WTGCTBG2
                    bullet_point:
                    - language_tag: en_US
                      value: 'SMART TV WITH UNIVERSAL GUIDE: Simple On-screen Guide is an easy way to find streaming content and live TV shows'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: '100% COLOR VOLUME WITH QUANTUM DOTS: Powered by Quantum dots, Samsung’s 4K QLED TV offers over a billion shades of brilliant color and 100% color volume for exceptional depth of detail that can draw you in to the picture for the best 4K TV experience'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: 'QUANTUM PROCESSOR 4K: Intelligently powered processor instantly upscales content to 4K for sharp detail and refined color'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: 'QUANTUM HDR 4X: 4K depth of detail with high dynamic range powered by HDR10+ delivers the lightest to darkest colors, scene by scene, for amazing picture realism'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: 'AMBIENT MODE: Customizes and complements your living space by turning a blank screen of this big screen TV into enticing visuals including décor, info, photos and artwork'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: 'TÉLÉVISEUR INTELLIGENT AVEC GUIDE UNIVERSEL : Le guide à l''écran simple est un moyen facile de trouver du contenu en streaming et des émissions de télévision en direct'
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_dimensions:
                    - width:
                        unit: inches
                        value: 72.4
                      length:
                        unit: inches
                        value: 2.4
                      height:
                        unit: inches
                        value: 41.4
                      marketplace_id: ATVPDKIKX0DER
                    - width:
                        unit: inches
                        value: 72.4
                      length:
                        unit: inches
                        value: 2.4
                      height:
                        unit: inches
                        value: 41.4
                      marketplace_id: A2EUQ1WTGCTBG2
                    brand:
                    - language_tag: en_US
                      value: SAMSUNG
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: SAMSUNG
                      marketplace_id: A2EUQ1WTGCTBG2
                    generic_keyword:
                    - language_tag: en_US
                      value: oled 65 inch smart tv qled 75 inch tv 85 inch 4k tv smart tv 4k tv 65 inch qled 82 inch tv 8k tv oled 65 smart tv qled 65 inch 80 inch tv 4k 4k tv shield tv 2018
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: q9fn qled 2018 oled 4k 4k oled toshiba antenna dvd player outdoor tv kitchen tv fire tv firetv hdtv hd tv android shield tv gaming deals tv ears dvr speakers digital tv antenna tv android tv frame mount
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: 4k hdr tv 70 tv shield tv 90 inch tv gaming tv 75 tv 65 inch 4k tv tv 65 inch smart tv 4k 65 inch 4k tv 65 inch 4k tv 4k tv uhd tv uhd tv 4k
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: smart tv 4k tv tv tv oled tv 65 inch smart tv 4k tv 65 inch smart tv shield tv 2018 tv 4k oled tv 65 4k tv 4k smart tv 4k hdr tv shield tv gaming tv 65 inch 4k tv tv 65 inch smart tv 4k 65 inch 4k tv 65 inch 4k tv 4k tv uhd tv uhd tv 4k
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: TV OLED de 65 pouces Téléviseur QLED 75 pouces téléviseur 4K 85 pouces Smart TV 4K 65 pouces TV QLED 82 pouces TV 8K TV OLED 65 pouces Télé téléviseur QLED 65 pouces téléviseur 80 pouces 4K TV 4K Shield TV 2018
                      marketplace_id: A2EUQ1WTGCTBG2
                    control_method:
                    - value: voice
                      marketplace_id: ATVPDKIKX0DER
                    - value: voice
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_package_dimensions:
                    - length:
                        unit: centimeters
                        value: 26.67
                      width:
                        unit: centimeters
                        value: 121.92
                      height:
                        unit: centimeters
                        value: 203.2
                      marketplace_id: ATVPDKIKX0DER
                    - length:
                        unit: centimeters
                        value: 26.67
                      width:
                        unit: centimeters
                        value: 121.92
                      height:
                        unit: centimeters
                        value: 203.2
                      marketplace_id: A2EUQ1WTGCTBG2
                    image_aspect_ratio:
                    - language_tag: en_US
                      value: '16:9'
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: '16:9'
                      marketplace_id: A2EUQ1WTGCTBG2
                    part_number:
                    - value: QN82Q60RAFXZA
                      marketplace_id: ATVPDKIKX0DER
                    - value: QN82Q60RAFXZA
                      marketplace_id: A2EUQ1WTGCTBG2
                    includes_remote:
                    - value: true
                      marketplace_id: ATVPDKIKX0DER
                    - value: true
                      marketplace_id: A2EUQ1WTGCTBG2
                    style:
                    - language_tag: en_US
                      value: TV only
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: TV seulement
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_type_name:
                    - language_tag: en_US
                      value: TV
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: TV
                      marketplace_id: A2EUQ1WTGCTBG2
                    battery:
                    - cell_composition:
                      - value: alkaline
                      marketplace_id: ATVPDKIKX0DER
                    - cell_composition:
                      - value: alkaline
                      marketplace_id: A2EUQ1WTGCTBG2
                    image_contrast_ratio:
                    - language_tag: en_US
                      value: QLED 4K
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: QLED 4K
                      marketplace_id: A2EUQ1WTGCTBG2
                    manufacturer:
                    - language_tag: en_US
                      value: Samsung
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: Samsung
                      marketplace_id: A2EUQ1WTGCTBG2
                    number_of_boxes:
                    - value: 1
                      marketplace_id: ATVPDKIKX0DER
                    - value: 1
                      marketplace_id: A2EUQ1WTGCTBG2
                    total_usb_ports:
                    - value: 2
                      marketplace_id: ATVPDKIKX0DER
                    model_number:
                    - value: QN82Q60RAFXZA
                      marketplace_id: ATVPDKIKX0DER
                    - value: QN82Q60RAFXZA
                      marketplace_id: A2EUQ1WTGCTBG2
                    supplier_declared_dg_hz_regulation:
                    - value: not_applicable
                      marketplace_id: ATVPDKIKX0DER
                    - value: not_applicable
                      marketplace_id: A2EUQ1WTGCTBG2
                    num_batteries:
                    - quantity: 2
                      type: aaa
                      marketplace_id: ATVPDKIKX0DER
                    - quantity: 2
                      type: aaa
                      marketplace_id: A2EUQ1WTGCTBG2
                    california_proposition_65:
                    - compliance_type: on_product_combined_cancer_reproductive
                      marketplace_id: ATVPDKIKX0DER
                    - compliance_type: chemical
                      chemical_names:
                      - di_2_ethylhexyl_phthalate_dehp
                      marketplace_id: ATVPDKIKX0DER
                    display:
                    - resolution_maximum:
                      - unit: pixels
                        language_tag: en_US
                        value: 3840 x 2160
                      size:
                      - unit: inches
                        value: 82
                      type:
                      - language_tag: en_US
                        value: QLED
                      marketplace_id: ATVPDKIKX0DER
                    - resolution_maximum:
                      - unit: pixels
                        language_tag: fr_CA
                        value: 3840 x 2160
                      size:
                      - unit: inches
                        value: 82
                      type:
                      - language_tag: fr_CA
                        value: QLED
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_name:
                    - language_tag: en_US
                      value: Samsung QN82Q60RAFXZA Flat 82-Inch QLED 4K Q60 Series (2019) Ultra HD Smart TV with HDR and Alexa Compatibility
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: Samsung QN82Q60RAFXZA TV QLED 4K Ultra HD plate de 82 pouces – Série Q60 (2019) – Télé intelligent avec HDR et compatibilité Alexa
                      marketplace_id: A2EUQ1WTGCTBG2
                    list_price:
                    - currency: USD
                      value: 3799.99
                      marketplace_id: ATVPDKIKX0DER
                    - currency: CAD
                      value: 4001.99
                      marketplace_id: A2EUQ1WTGCTBG2
                    batteries_required:
                    - value: false
                      marketplace_id: ATVPDKIKX0DER
                    - value: false
                      marketplace_id: A2EUQ1WTGCTBG2
                    includes_rechargable_battery:
                    - value: false
                      marketplace_id: ATVPDKIKX0DER
                    - value: false
                      marketplace_id: A2EUQ1WTGCTBG2
                    product_site_launch_date:
                    - value: '2019-03-11T08:00:01.000Z'
                      marketplace_id: ATVPDKIKX0DER
                    product_category:
                    - value: '50400100'
                      marketplace_id: ATVPDKIKX0DER
                    - value: '50400100'
                      marketplace_id: A2EUQ1WTGCTBG2
                    batteries_included:
                    - value: false
                      marketplace_id: ATVPDKIKX0DER
                    - value: false
                      marketplace_id: A2EUQ1WTGCTBG2
                    connectivity_technology:
                    - language_tag: en_US
                      value: Bluetooth
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: USB
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Wireless
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: HDMI
                      marketplace_id: ATVPDKIKX0DER
                    included_components:
                    - language_tag: en_US
                      value: QLED Standard Smart Remote
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Power Cable
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Stand
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Samsung Smart Control
                      marketplace_id: ATVPDKIKX0DER
                    specification_met:
                    - language_tag: en_US
                      value: ''
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: ''
                      marketplace_id: A2EUQ1WTGCTBG2
                    parental_control_technology:
                    - value: V-Chip
                      marketplace_id: ATVPDKIKX0DER
                    - value: V-Chip
                      marketplace_id: A2EUQ1WTGCTBG2
                    power_consumption:
                    - unit: watts
                      value: 120
                      marketplace_id: ATVPDKIKX0DER
                    cpsia_cautionary_statement:
                    - value: no_warning_applicable
                      marketplace_id: ATVPDKIKX0DER
                    - value: no_warning_applicable
                      marketplace_id: A2EUQ1WTGCTBG2
                    item_type_keyword:
                    - value: qled-televisions
                      marketplace_id: ATVPDKIKX0DER
                    - value: qled-televisions
                      marketplace_id: A2EUQ1WTGCTBG2
                    number_of_items:
                    - value: 1
                      marketplace_id: ATVPDKIKX0DER
                    warranty_description:
                    - language_tag: en_US
                      value: 1 year manufacturer
                      marketplace_id: ATVPDKIKX0DER
                    max_resolution:
                    - unit: pixels
                      value: 8.3
                      marketplace_id: ATVPDKIKX0DER
                    - unit: pixels
                      value: 8.3
                      marketplace_id: A2EUQ1WTGCTBG2
                    color:
                    - language_tag: en_US
                      value: Black
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: Noire
                      marketplace_id: A2EUQ1WTGCTBG2
                    screen_surface_description:
                    - language_tag: en_US
                      value: Flat
                      marketplace_id: ATVPDKIKX0DER
                    item_package_weight:
                    - unit: kilograms
                      value: 62.142
                      marketplace_id: ATVPDKIKX0DER
                    - unit: kilograms
                      value: 62.142
                      marketplace_id: A2EUQ1WTGCTBG2
                    speaker_type:
                    - language_tag: en_US
                      value: 2CH
                      marketplace_id: ATVPDKIKX0DER
                    supported_internet_services:
                    - language_tag: en_US
                      value: Amazon Instant Video
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: YouTube
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Netflix
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Hulu
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Browser
                      marketplace_id: ATVPDKIKX0DER
                    tuner_technology:
                    - language_tag: en_US
                      value: Analog Tuner
                      marketplace_id: ATVPDKIKX0DER
                    controller_type:
                    - language_tag: en_US
                      value: SmartThings
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Voice Control
                      marketplace_id: ATVPDKIKX0DER
                    special_feature:
                    - language_tag: en_US
                      value: 100% Color Volume with Quantum Dot; Quantum Processor 4K; Ambient Mode; Quantum HDR 4X; Real Game Enhancer
                      marketplace_id: ATVPDKIKX0DER
                    wireless_communication_technology:
                    - language_tag: en_US
                      value: Wi-Fi::Wi-Fi Direct::Bluetooth
                      marketplace_id: ATVPDKIKX0DER
                    model_year:
                    - value: 2019
                      marketplace_id: ATVPDKIKX0DER
                    - value: 2019
                      marketplace_id: A2EUQ1WTGCTBG2
                    power_source_type:
                    - language_tag: en_US
                      value: Corded Electric
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: fr_CA
                      value: '15

                        Électrique câblé'
                      marketplace_id: A2EUQ1WTGCTBG2
                    street_date:
                    - value: '2019-03-21T00:00:01Z'
                      marketplace_id: ATVPDKIKX0DER
                    mounting_type:
                    - language_tag: en_US
                      value: Table Mount
                      marketplace_id: ATVPDKIKX0DER
                    - language_tag: en_US
                      value: Wall Mount
                      marketplace_id: ATVPDKIKX0DER
                    refresh_rate:
                    - unit: hertz
                      language_tag: en_US
                      value: '120'
                      marketplace_id: ATVPDKIKX0DER
                    - unit: hertz
                      language_tag: en_US
                      value: '120'
                      marketplace_id: A2EUQ1WTGCTBG2
                  offers:
                  - marketplaceId: ATVPDKIKX0DER
                    offerType: B2C
                    price:
                      currencyCode: USD
                      amount: '100.00'
                  - marketplaceId: A2EUQ1WTGCTBG2
                    offerType: B2C
                    price:
                      currencyCode: CAD
                      amount: '130.00'
                  fulfillmentAvailability:
                  - fulfillmentChannelCode: DEFAULT
                    quantity: 100
                  issues:
                  - code: '90220'
                    message: '''size'' is required but not supplied.'
                    severity: ERROR
                    attributeNames:
                    - size
                    categories:
                    - MISSING_ATTRIBUTE
                    - LISTING
                    marketplaceIds:
                    - ATVPDKIKX0DER
                  - code: '18027'
                    message: We believe the main image has text, logo, graphic, or watermark that is not permitted for this product type. Submit a compliant image to lift the suppression. Also refer to Product image requirements.
                    severity: ERROR
                    categories:
                    - INVALID_IMAGE
                    - LISTING
                    enforcements:
                      actions:
                      - action: SEARCH_SUPPRESSED
                      exemption:
                        status: EXEMPT_UNTIL_EXPIRY_DATE
                        expiryDate: '2025-05-28T00:36:48.914Z'
                    marketplaceIds:
                    - ATVPDKIKX0DER
                    - A2EUQ1WTGCTBG2
                  - code: '99300'
                    message: Product Detail Page Rules Violation (Inaccurate information on product detail page).
                    severity: ERROR
                    categories:
                    - PRODUCT
                    enforcements:
                      actions:
                      - action: ATTRIBUTE_SUPPRESSED
                      exemption:
                        status: EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
                    - A2EUQ1WTGCTBG2
                  - code: '18155'
                    message: The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Review and update your price and/or minimum price.
                    severity: ERROR
                    categories:
                    - INVALID_PRICE
                    - LISTING
                    enforcements:
                      actions:
                      - action: LISTING_SUPPRESSED
                      exemption:
                        status: NOT_EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
                  - code: '18742'
                    message: Restricted Products Policy Violation
                    severity: ERROR
                    categories:
                    - PRODUCT
                    enforcements:
                      actions:
                      - action: CATALOG_ITEM_REMOVED
                      exemption:
                        status: NOT_EXEMPT
                    marketplaceIds:
                    - ATVPDKIKX0DER
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  sellerId:
                    value: SellerId
                  marketplaceIds:
                    value:
                    - invalid
              response:
                errors:
                - code: BAD_REQUEST
                  message: Invalid input
                  details: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
  /listings/2021-08-01/restrictions:
    get:
      tags:
      - listings
      description: "Returns listing restrictions for an item in the Amazon Catalog. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api)."
      operationId: getListingsRestrictions
      parameters:
      - name: asin
        in: query
        description: The Amazon Standard Identification Number (ASIN) of the item.
        required: true
        x-example: B0000ASIN1
        schema:
          type: string
      - name: conditionType
        in: query
        description: The condition used to filter restrictions.
        required: false
        x-example: used_very_good
        x-docgen-enum-table-extension:
        - value: new_new
          description: New
        - value: new_open_box
          description: New - Open Box.
        - value: new_oem
          description: New - OEM.
        - value: refurbished_refurbished
          description: Refurbished
        - value: used_like_new
          description: Used - Like New.
        - value: used_very_good
          description: Used - Very Good.
        - value: used_good
          description: Used - Good.
        - value: used_acceptable
          description: Used - Acceptable.
        - value: collectible_like_new
          description: Collectible - Like New.
        - value: collectible_very_good
          description: Collectible - Very Good.
        - value: collectible_good
          description: Collectible - Good.
        - value: collectible_acceptable
          description: Collectible - Acceptable.
        - value: club_club
          description: Club
        schema:
          type: string
          enum:
          - new_new
          - new_open_box
          - new_oem
          - refurbished_refurbished
          - used_like_new
          - used_very_good
          - used_good
          - used_acceptable
          - collectible_like_new
          - collectible_very_good
          - collectible_good
          - collectible_acceptable
          - club_club
      - name: sellerId
        in: query
        description: A selling partner identifier, such as a merchant account.
        required: true
        schema:
          type: string
      - name: marketplaceIds
        in: query
        description: A comma-delimited list of Amazon marketplace identifiers for the request.
        required: true
        x-example: ATVPDKIKX0DER
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: reasonLocale
        in: query
        description: 'A locale for reason text localization. When not provided, the default language code of the first marketplace is used. Examples: "en_US", "fr_CA", "fr_FR". Localized messages default to "en_US" when a localization is not available in the specified locale.'
        required: false
        x-example: en_US
        schema:
          type: string
      - name: productType
        in: query
        description: The product type of the item. When provided with the brand name, the API evaluates GTIN exemption restrictions in addition to brand restrictions for the specified product type.
        required: false
        x-example: SHIRT
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the listings restrictions.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body: {}
              response:
                restrictions:
                - marketplaceId: ATVPDKIKX0DER
                  conditionType: used_acceptable
                  reasons:
                  - message: You cannot list the product in this condition.
                    links:
                    - resource: https://sellercentral.amazon.com/hz/approvalrequest/restrictions/approve?asin=B0000ASIN1
                      verb: GET
                      title: Request Approval via Seller Central.
                      type: text/html
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionList'
              example:
                restrictions:
                - marketplaceId: ATVPDKIKX0DER
                  conditionType: used_acceptable
                  reasons:
                  - message: You cannot list the product in this condition.
                    links:
                    - resource: https://sellercentral.amazon.com/hz/approvalrequest/restrictions/approve?asin=B0000ASIN1
                      verb: GET
                      title: Request Approval via Seller Central.
                      type: text/html
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  asin:
                    value: BAD_ASIN
              response:
              - code: BAD_REQUEST
                message: Invalid 'asin' provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList_2'
    servers:
    - url: https://sellingpartnerapi-na.amazon.com
components:
  schemas:
    ItemRelationships:
      description: Relationships for a listing item, by Amazon store (for example, variations).
[...]
