openapi: 3.1.0
info:
  title: Amazon Selling Partner API (SP-API) Authentication Listings API
  version: 1.0.0
  description: 'Modern REST API enabling Amazon sellers, vendors, and third-party

    developers to programmatically access Seller Central data and

    operations. Coverage includes catalog management, orders, inventory,

    pricing, fulfillment, reports, feeds, finances, notifications, and

    tokens. Authentication uses Login with Amazon (LWA) OAuth 2.0

    access tokens (`x-amz-access-token`) and optional Restricted Data

    Tokens for PII. SP-API replaces the legacy Amazon MWS.

    '
  contact:
    name: Amazon Selling Partner API
    url: https://developer-docs.amazon.com/sp-api
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- LwaBearer: []
tags:
- name: Listings
paths:
  /listings/2021-08-01/items/{sellerId}/{sku}:
    parameters:
    - in: path
      name: sellerId
      required: true
      schema:
        type: string
    - in: path
      name: sku
      required: true
      schema:
        type: string
    put:
      tags:
      - Listings
      summary: Create or fully update a listings item
      operationId: putListingsItem
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Listings
      summary: Partial update of a listings item
      operationId: patchListingsItem
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Listings
      summary: Delete a listings item
      operationId: deleteListingsItem
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    LwaBearer:
      type: apiKey
      in: header
      name: x-amz-access-token
      description: Login with Amazon (LWA) OAuth 2.0 access token.
