openapi: 3.2.0
info:
  title: Amazon Selling Partner API (SP-API) Authentication Catalog API
  version: 1.0.0
  description: 'Modern REST API enabling Amazon sellers, vendors, and third-party

    developers to programmatically access Seller Central data and

    operations. Coverage includes catalog management, orders, inventory,

    pricing, fulfillment, reports, feeds, finances, notifications, and

    tokens. Authentication uses Login with Amazon (LWA) OAuth 2.0

    access tokens (`x-amz-access-token`) and optional Restricted Data

    Tokens for PII. SP-API replaces the legacy Amazon MWS.

    '
  contact:
    name: Amazon Selling Partner API
    url: https://developer-docs.amazon.com/sp-api
servers:
- url: https://sellingpartnerapi-na.amazon.com
  description: North America
- url: https://sellingpartnerapi-eu.amazon.com
  description: Europe
- url: https://sellingpartnerapi-fe.amazon.com
  description: Far East
security:
- LwaBearer: []
tags:
- name: Catalog
paths:
  /catalog/2022-04-01/items:
    get:
      tags:
      - Catalog
      summary: Search the Amazon catalog
      operationId: searchCatalogItems
      parameters:
      - in: query
        name: marketplaceIds
        required: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: keywords
        schema:
          type: array
          items:
            type: string
      - in: query
        name: identifiers
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Catalog items.
  /catalog/2022-04-01/items/{asin}:
    parameters:
    - in: path
      name: asin
      required: true
      schema:
        type: string
    get:
      tags:
      - Catalog
      summary: Get a catalog item
      operationId: getCatalogItem
      responses:
        '200':
          description: Catalog item.
components:
  securitySchemes:
    LwaBearer:
      type: apiKey
      in: header
      name: x-amz-access-token
      description: Login with Amazon (LWA) OAuth 2.0 access token.
