openapi: 3.2.0
info:
  description: 'The Selling Partner API for Notifications lets you subscribe to notifications that are relevant to a selling partner''s business. Using this API you can create a destination to receive notifications, subscribe to notifications, delete notification subscriptions, and more.


    For more information, refer to the [Notifications Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide).'
  version: v1
  title: Selling Partner Notifications API
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://sellingpartnerapi-na.amazon.com
tags:
- name: notifications
paths:
  /notifications/v1/subscriptions:
    get:
      tags:
      - notifications
      description: 'Returns information about subscriptions of the specified notification type. You can use this API to retrieve all subscriptions when multiple subscriptions exist for a notification type (for example, when using filter expressions).


        The operation returns all subscriptions for the caller''s party.


        `payloadVersion` is an optional parameter. When you do not provide `payloadVersion`, the operation returns subscriptions across all payload versions.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getSubscriptions
      parameters:
      - name: notificationTypes
        in: query
        description: "A list of notification types to retrieve subscriptions for. Currently limited to a single notification type per request.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: array
          items:
            type: string
          maxItems: 1
          minItems: 1
      - name: payloadVersion
        in: query
        description: The version of the payload object to be used in the notification.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The maximum number of subscriptions to return per page. Minimum value is 30. Maximum value is 100. Default is 30.
        required: false
        schema:
          type: integer
          default: 30
          maximum: 100
          minimum: 30
      - name: nextToken
        in: query
        description: A token to retrieve the next page of results. If this field is not empty in a response, pass its value in the next request to retrieve the next page.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  notificationTypes:
                    value:
                    - ANY_OFFER_CHANGED
              response:
                payload:
                  subscriptions:
                  - subscriptionId: 7fcacc7e-727b-11e9-8848-1681be663d3e
                    payloadVersion: '1.0'
                    destinationId: 3acafc7e-121b-1329-8ae8-1571be663aa2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponse'
  /notifications/v1/subscriptions/{notificationType}:
    get:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Returns information about subscription of the specified notification type and payload version. `payloadVersion` is an optional parameter. When you do not provide `payloadVersion`, the operation returns the latest payload version subscription''s information. You can use this API to get subscription information when you do not have a subscription identifier.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getSubscription
      parameters:
      - name: notificationType
        in: path
        description: "The type of notification.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: string
      - name: payloadVersion
        in: query
        description: The version of the payload object to be used in the notification.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  subscriptionId: TEST_CASE_200_SUBSCRIPTION_ID
                  payloadVersion: '1.0'
                  destinationId: TEST_CASE_200_DESTINATION_ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
    post:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Creates a subscription for the specified notification type to be delivered to the specified destination. Before you can subscribe, you must first create the destination by calling the `createDestination` operation. If the notification type that you specify supports multiple payload versions, you can use this operation to subscribe to a different payload version if you already have an existing subscription for a different payload version.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: createSubscription
      parameters:
      - name: notificationType
        in: path
        description: "The type of notification.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  subscriptionId: TEST_CASE_200_SUBSCRIPTION_ID
                  payloadVersion: '1.0'
                  destinationId: TEST_CASE_200_DESTINATION_ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        description: The request schema for the `createSubscription` operation.
        required: true
  /notifications/v1/subscriptions/{notificationType}/{subscriptionId}:
    get:
      tags:
      - notifications
      description: 'Returns information about a subscription for the specified notification type. The `getSubscriptionById` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getSubscriptionById
      parameters:
      - name: subscriptionId
        in: path
        description: The identifier for the subscription that you want to get.
        required: true
        schema:
          type: string
      - name: notificationType
        in: path
        description: "The type of notification.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  subscriptionId: TEST_CASE_200_SUBSCRIPTION_ID
                  payloadVersion: '1.0'
                  destinationId: TEST_CASE_200_DESTINATION_ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionByIdResponse'
    delete:
      tags:
      - notifications
      description: 'Deletes the subscription indicated by the subscription identifier and notification type that you specify. The subscription identifier can be for any subscription associated with your application. After you successfully call this operation, notifications will stop being sent for the associated subscription. The `deleteSubscriptionById` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: deleteSubscriptionById
      parameters:
      - name: subscriptionId
        in: path
        description: The identifier for the subscription that you want to delete.
        required: true
        schema:
          type: string
      - name: notificationType
        in: path
        description: "The type of notification.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionByIdResponse'
  /notifications/v1/subscriptions/{notificationType}/testNotification:
    x-amzn-api-sandbox-only: true
    x-amzn-api-sandbox:
      dynamic: {}
    post:
      tags:
      - notifications
      description: 'Sends a mock notification of the specified type to your SQS. The `sendTestNotification` API is grantless. For more information, see "Grantless operations" in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        For more information, see "Usage Plans and Rate Limits" in the Selling Partner API documentation. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.'
      operationId: sendTestNotification
      parameters:
      - name: notificationType
        in: path
        description: "The type of notification.\n\n For more information about notification types, refer to the [Notifications API v1 Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/notifications-api-v1-use-case-guide)."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTestNotificationRequest'
        description: The request schema for the `sendTestNotification` operation.
        required: true
  /notifications/v1/destinations:
    get:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Returns information about all destinations. The `getDestinations` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getDestinations
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                - destinationId: TEST_CASE_200
                  resource:
                    sqs:
                      arn: arn:aws:sqs:us-east-2:444455556666:queue1
                  name: SQSDestination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationsResponse'
    post:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Creates a destination resource to receive notifications. The `createDestination` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: createDestination
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  destinationId: TEST_CASE_200_DESTINATION_ID
                  resource:
                    sqs:
                      arn: arn:aws:sqs:us-east-2:444455556666:queue1
                  name: SQSDestination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDestinationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDestinationRequest'
        description: The request schema for the `createDestination` operation.
        required: true
  /notifications/v1/destinations/{destinationId}:
    get:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Returns information about the destination that you specify. The `getDestination` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getDestination
      parameters:
      - name: destinationId
        in: path
        description: The identifier generated when you created the destination.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response:
                payload:
                  destinationId: TEST_CASE_200_DESTINATION
                  resource:
                    sqs:
                      arn: arn:aws:sqs:us-east-2:444455556666:queue1
                  name: SQSDestination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDestinationResponse'
    delete:
      x-amzn-api-internal: INTERNAL_AND_EXTERNAL
      tags:
      - notifications
      description: 'Deletes the destination that you specify. The `deleteDestination` operation is grantless. For more information, refer to [Grantless Operations](https://developer-docs.amazon.com/sp-api/docs/grantless-operations) in the Selling Partner API Developer Guide.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 1 | 5 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: deleteDestination
      parameters:
      - name: destinationId
        in: path
        description: The identifier for the destination that you want to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '409':
          description: The resource specified conflicts with the current state.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDestinationResponse'
components:
  schemas:
    OrderChangeTypeFilter:
      description: An event filter you can use to customize your subscription to send notifications for a specific `orderChangeType`.
      type: object
      properties:
        orderChangeTypes:
          $ref: '#/components/schemas/OrderChangeTypes'
    GetDestinationResponse:
      type: object
      properties:
        payload:
          description: The payload for the `getDestination` operation.
          $ref: '#/components/schemas/Destination'
        errors:
          description: One or more unexpected errors occurred during the `getDestination` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `getDestination` operation.
    DestinationList:
      type: array
      description: A list of destinations.
      items:
        $ref: '#/components/schemas/Destination'
    DeleteSubscriptionByIdResponse:
      type: object
      properties:
        errors:
          description: An unexpected condition occurred during the `deleteSubscriptionById` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `deleteSubscriptionById` operation.
    MarketplaceFilter:
      description: An event filter you can use to customize your subscription to send notifications for specific `marketplaceId`s.
      type: object
      properties:
        marketplaceIds:
          $ref: '#/components/schemas/MarketplaceIds'
    SendTestNotificationResponse:
      type: object
      properties:
        payload:
          description: The payload for the `sendTestNotification` operation.
        errors:
          description: One or more unexpected errors occurred during the `sendTestNotification` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `sendTestNotification` operation.
    GetSubscriptionsResponse:
      type: object
      properties:
        payload:
          description: The payload for the `getSubscriptions` operation.
          $ref: '#/components/schemas/GetSubscriptionsPayload'
        errors:
          description: One or more unexpected errors occurred during the `getSubscriptions` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `getSubscriptions` operation.
    CreateSubscriptionResponse:
      type: object
      properties:
        payload:
          description: The payload for the `createSubscription` operation.
          $ref: '#/components/schemas/Subscription'
        errors:
          description: One or more unexpected errors occurred during the `createSubscription` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `createSubscription` operation.
    TrackingFilter:
      description: An event filter you can use to customize your subscription to receive shipment tracking milestone notifications for a specific tracking identifier.
      type: object
      properties:
        trackingIdentifier:
          $ref: '#/components/schemas/TrackingIdentifier'
    SendTestNotificationRequest:
      type: object
      properties:
        destinationId:
          type: string
          description: The identifier for the destination where notifications will be delivered.
        testNotification:
          $ref: '#/components/schemas/TestNotification'
      description: The request schema for the `sendTestNotification` operation.
    DestinationResource:
      type: object
      properties:
        sqs:
          description: An Amazon Simple Queue Service (SQS) queue destination.
          $ref: '#/components/schemas/SqsResource'
        eventBridge:
          description: An Amazon EventBridge destination.
          $ref: '#/components/schemas/EventBridgeResource'
      description: The destination resource types.
    CreateSubscriptionRequest:
      type: object
      properties:
        payloadVersion:
          type: string
          description: The version of the payload object to be used in the notification.
        destinationId:
          type: string
          description: The identifier for the destination where notifications will be delivered.
        processingDirective:
          $ref: '#/components/schemas/ProcessingDirective'
      required:
      - destinationId
      - payloadVersion
      description: The request schema for the `createSubscription` operation.
    Subscriptions:
      type: array
      description: A list of subscriptions.
      items:
        $ref: '#/components/schemas/Subscription'
    Subscription:
      type: object
      required:
      - destinationId
      - payloadVersion
      - subscriptionId
      properties:
        subscriptionId:
          type: string
          description: The subscription identifier generated when the subscription is created.
        payloadVersion:
          type: string
          description: The version of the payload object to be used in the notification.
        destinationId:
          type: string
          description: The identifier for the destination where notifications will be delivered.
        processingDirective:
          $ref: '#/components/schemas/ProcessingDirective'
      description: Information about the subscription.
    Destination:
      type: object
      required:
      - destinationId
      - name
      - resource
      properties:
        name:
          type: string
          description: The developer-defined name for this destination.
          maxLength: 256
        destinationId:
          type: string
          description: The destination identifier generated when you created the destination.
        resource:
          description: The resource that will receive notifications associated with this destination.
          $ref: '#/components/schemas/DestinationResource'
      description: Information about the destination you create when you call the `createDestination` operation.
    GetDestinationsResponse:
      type: object
      properties:
        payload:
          description: The payload for the `getDestinations` operation.
          $ref: '#/components/schemas/DestinationList'
        errors:
          description: One or more unexpected errors occurred during the `getDestinations` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `getDestinations` operation.
    EventBridgeResource:
      type: object
      required:
      - accountId
      - name
      - region
      properties:
        name:
          type: string
          description: The name of the partner event source associated with the destination.
          maxLength: 256
        region:
          type: string
          description: The AWS region in which you receive the notifications. For AWS regions that Amazon EventBridge supports, refer to [Amazon EventBridge endpoints and quotas](https://docs.aws.amazon.com/general/latest/gr/ev.html).
        accountId:
          type: string
          description: The identifier for the AWS account that is responsible for charges related to receiving notifications.
      description: The Amazon EventBridge destination.
    ProcessingDirective:
      description: Additional information passed to the subscription to control the processing of notifications. For example, you can use an `eventFilter` to customize your subscription to send notifications for only the `marketplaceId`s that you specify, or select the aggregation time period at which to send notifications (for example, you can set a limit of one notification every five minutes for high frequency notifications). You can also use `filterExpression` to filter events based on notification payload. The specific features available can vary by the `notificationType`.
      type: object
      properties:
        eventFilter:
          description: 'A `notificationType` filter. Note: eventFilter and filterExpression are mutually exclusive, meaning if eventFilter is provided, filterExpression field cannot be used.'
          $ref: '#/components/schemas/EventFilter'
        filterExpression:
          description: "An expression for filtering events before delivery to destination based on the notification payload (example: FulfillmentOrderStatusNotification.FulfillmentOrderStatus == `SHIPPED` ). The `filterExpression` is a string that follows the CEL expression syntax (https://github.com/google/cel-spec) excluding arithmetic operators (+, -, *, /, %) and list/map indexing ([]). Refer to Notification Type Values to determine if filter Expression is supported for a Notification Type. Refer to CEL Operators (https://developer-docs.amazon.com/sp-api/docs/filter-notification-subscriptions) to see if a CEL operator is supported. \n Note: eventFilter and filterExpression are mutually exclusive. You can use filterExpression to replace existing eventFilter configurations."
          type: string
          maxLength: 256
          minLength: 1
    DestinationResourceSpecification:
      type: object
      properties:
        sqs:
          description: The information required to create an Amazon Simple Queue Service (SQS) queue destination.
          $ref: '#/components/schemas/SqsResource'
        eventBridge:
          description: The information required to create an Amazon EventBridge destination.
          $ref: '#/components/schemas/EventBridgeResourceSpecification'
      description: The information required to create a destination resource. Applications should use one resource type (sqs or eventBridge) per destination.
    EventBridgeResourceSpecification:
      type: object
      required:
      - accountId
      - region
      properties:
        region:
          type: string
          description: The AWS region in which you will be receiving the notifications.
        accountId:
          type: string
          description: The identifier for the AWS account that is responsible for charges related to receiving notifications.
      description: The information required to create an Amazon EventBridge destination.
    EventFilter:
      description: A `notificationType` filter. This object contains all of the available filters and properties that you can use to define a `notificationType` specific filter.
      allOf:
      - $ref: '#/components/schemas/AggregationFilter'
      - $ref: '#/components/schemas/MarketplaceFilter'
      - $ref: '#/components/schemas/OrderChangeTypeFilter'
      - $ref: '#/components/schemas/TrackingFilter'
      - type: object
        properties:
          eventFilterType:
            type: string
            enum:
            - ANY_OFFER_CHANGED
            - ORDER_CHANGE
            - SHIPMENT_TRACKING_MILESTONE_CHANGED
            description: An `eventFilterType` value that the `notificationType` supports. The subscription service uses the `eventFilterType` to determine the type of event filter. To determine if a specific `notificationType` supports an `eventFilterType`, refer to [Notification Type Values]( https://developer-docs.amazon.com/sp-api/docs/notification-type-values).
        required:
        - eventFilterType
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: An error code that identifies the type of error that occurred.
        message:
          type: string
          description: A message that describes the error condition.
        details:
          type: string
          description: Additional details that can help the caller understand or fix the issue.
      description: An error response returned when the request is unsuccessful.
    OrderChangeTypes:
      type: array
      items:
        $ref: '#/components/schemas/OrderChangeTypeEnum'
      description: A list of order change types you can subscribe to (for example, `BuyerRequestedChange`). To receive notifications of all change types, do not provide this list.
    DeleteDestinationResponse:
      type: object
      properties:
        errors:
          description: One or more unexpected errors occurred during the `deleteDestination` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `deleteDestination` operation.
    GetSubscriptionByIdResponse:
      type: object
      properties:
        payload:
          description: The payload for the `getSubscriptionById` operation.
          $ref: '#/components/schemas/Subscription'
        errors:
          description: An unexpected condition occurred during the `getSubscriptionById` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `getSubscriptionById` operation.
    MarketplaceIds:
      type: array
      items:
        type: string
      description: A list of marketplace identifiers you can subscribe to (for example, `ATVPDKIKX0DER`). To receive notifications in every marketplace, do not provide this list.
    CreateDestinationResponse:
      type: object
      properties:
        payload:
          description: The payload for the `createDestination` operation.
          $ref: '#/components/schemas/Destination'
        errors:
          description: One or more unexpected errors occurred during the `createDestination` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the createDestination operation.
    OrderChangeTypeEnum:
      type: string
      enum:
      - BuyerRequestedChange
      - DeliveryTipChange
      - OrderStatusChange
      description: The supported order change type of ORDER_CHANGE notification.
    ErrorList:
      type: array
      description: A list of error responses returned when a request is unsuccessful.
      items:
        $ref: '#/components/schemas/Error'
    CreateDestinationRequest:
      type: object
      required:
      - name
      - resourceSpecification
      properties:
        resourceSpecification:
          description: The information required to create a destination resource. Applications should use one resource type (sqs or eventBridge) per destination.
          $ref: '#/components/schemas/DestinationResourceSpecification'
        name:
          type: string
          description: A developer-defined name to help identify this destination.
      description: The request schema for the `createDestination` operation.
    GetSubscriptionResponse:
      type: object
      properties:
        payload:
          description: The payload for the `getSubscription` operation.
          $ref: '#/components/schemas/Subscription'
        errors:
          description: One or more unexpected errors occurred during the `getSubscription` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The response schema for the `getSubscription` operation.
    SqsResource:
      type: object
      required:
      - arn
      properties:
        arn:
          type: string
          description: The Amazon Resource Name (ARN) associated with the SQS queue.
          maxLength: 1000
          pattern: ^arn:aws:sqs:\S+:\S+:\S+
      description: The information required to create an Amazon Simple Queue Service (Amazon SQS) queue destination.
    AggregationTimePeriod:
      description: The supported aggregation time periods. For example, if FiveMinutes is the value chosen, and 50 price updates occur for an ASIN within 5 minutes, Amazon will send only two notifications; one for the first event, and then a subsequent notification 5 minutes later with the final end state of the data. The 48 interim events will be dropped.
      type: string
      enum:
      - FiveMinutes
      - TenMinutes
      x-docgen-enum-table-extension:
      - value: FiveMinutes
        description: An aggregated notification will be sent every five minutes.
      - value: TenMinutes
        description: An aggregated notification will be sent every ten minutes.
    TestNotification:
      type: object
      properties:
        payloadVersion:
          type: string
          description: The version of the payload object to be used in the notification.
        testScenario:
          type: string
          description: The scenario of the specified notification to be used in the notification payload. If testScenario is empty, a 400 response will be returned back to the developer. The scenarios supported for each notification type can be found in the Selling Partner API Developer Guide.
      required:
      - payloadVersion
      description: The describer for the test notification that will be delivered.
    GetSubscriptionsPayload:
      type: object
      properties:
        subscriptions:
          description: A list of subscriptions.
          $ref: '#/components/schemas/Subscriptions'
        nextToken:
          type: string
          description: A token that you can use to retrieve the next page of results. When this field is not empty, pass its value in the `nextToken` query parameter of the next request.
      description: The payload for the `getSubscriptions` operation.
    AggregationFilter:
      type: object
      properties:
        aggregationSettings:
          $ref: '#/components/schemas/AggregationSettings'
      description: A filter you can use to select the aggregation time period at which to send notifications (for example, limit to one notification every five minutes for high frequency notifications).
    AggregationSettings:
      type: object
      description: A container that holds all of the necessary properties to configure the aggregation of notifications.
      properties:
        aggregationTimePeriod:
          $ref: '#/components/schemas/AggregationTimePeriod'
          description: The supported time period to use to perform marketplace-ASIN level aggregation.
      required:
      - aggregationTimePeriod
    TrackingIdentifier:
      description: Specifies the tracking identifier used to filter your subscription notifications. Provide exactly one identifier field. Providing multiple identifier fields in a single request is not supported.
      type: object
      properties:
        id:
          type: string
          description: Amazon unique tracking identifier.
        acsin:
          type: string
          description: Air Cargo Shipment Identification Number.
        aftn:
          type: string
          description: Amazon Fulfillment Tracking Number.
        containerNumber:
          type: string
          description: Container number provided by the Logistics Service Provider.
        houseBillOfLadingNumber:
          type: string
          description: House Bill of Lading number.
        carrierTracking:
          type: object
          description: Carrier-provided tracking identifier.
          properties:
            trackingNumber:
              type: string
              description: Carrier tracking number
            carrierCode:
              type: string
              description: Carrier code
          required:
          - trackingNumber
