openapi: 3.2.0
info:
  description: "Use the Orders Selling Partner API to programmatically retrieve order information. With this API, you can develop fast, flexible, and custom applications to manage order synchronization, perform order research, and create demand-based decision support tools. \n\n_Note:_ For the JP, AU, and SG marketplaces, the Orders API supports orders from 2016 onward. For all other marketplaces, the Orders API supports orders for the last two years (orders older than this don't show up in the response)."
  version: v0
  title: Selling Partner API for Orders Orders V0 API
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://sellingpartnerapi-na.amazon.com
tags:
- name: ordersV0
paths:
  /orders/v0/orders:
    get:
      tags:
      - ordersV0
      description: "Returns orders that are created or updated during the specified time period. If you want to return specific types of orders, you can apply filters to your request. `NextToken` doesn't affect any filters that you include in your request; it only impacts the pagination for the filtered orders response. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 0.0167 | 20 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api)."
      operationId: getOrders
      deprecated: true
      parameters:
      - name: CreatedAfter
        in: query
        description: 'Use this date to select orders created after (or at) a specified time. Only orders placed after the specified time are returned. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.


          **Note**: Either the `CreatedAfter` parameter or the `LastUpdatedAfter` parameter is required. Both cannot be empty. `LastUpdatedAfter` and `LastUpdatedBefore` cannot be set when `CreatedAfter` is set.'
        required: false
        schema:
          type: string
      - name: CreatedBefore
        in: query
        description: 'Use this date to select orders created before (or at) a specified time. Only orders placed before the specified time are returned. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.


          **Note**: `CreatedBefore` is optional when `CreatedAfter` is set. If specified, `CreatedBefore` must be equal to or after the `CreatedAfter` date and at least two minutes before current time.'
        required: false
        schema:
          type: string
      - name: LastUpdatedAfter
        in: query
        description: 'Use this date to select orders that were last updated after (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.


          **Note**: Either the `CreatedAfter` parameter or the `LastUpdatedAfter` parameter is required. Both cannot be empty. `CreatedAfter` or `CreatedBefore` cannot be set when `LastUpdatedAfter` is set.'
        required: false
        schema:
          type: string
      - name: LastUpdatedBefore
        in: query
        description: 'Use this date to select orders that were last updated before (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.


          **Note**: `LastUpdatedBefore` is optional when `LastUpdatedAfter` is set. But if specified, `LastUpdatedBefore` must be equal to or after the `LastUpdatedAfter` date and at least two minutes before current time.'
        required: false
        schema:
          type: string
      - name: OrderStatuses
        in: query
        description: 'A list of `OrderStatus` values used to filter the results.


          **Possible values:**

          - `PendingAvailability` (This status is available for pre-orders only. The order has been placed, payment has not been authorized, and the release date of the item is in the future.)

          - `Pending` (The order has been placed but payment has not been authorized.)

          - `Unshipped` (Payment has been authorized and the order is ready for shipment, but no items in the order have been shipped.)

          - `PartiallyShipped` (One or more, but not all, items in the order have been shipped.)

          - `Shipped` (All items in the order have been shipped.)

          - `InvoiceUnconfirmed` (All items in the order have been shipped. The seller has not yet given confirmation to Amazon that the invoice has been shipped to the buyer.)

          - `Canceled` (The order has been canceled.)

          - `Unfulfillable` (The order cannot be fulfilled. This state applies only to Multi-Channel Fulfillment orders.)'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: MarketplaceIds
        in: query
        description: 'A list of `MarketplaceId` values. Used to select orders that were placed in the specified marketplaces.


          Refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) for a complete list of `marketplaceId` values.'
        required: true
        schema:
          type: array
          items:
            type: string
          maxItems: 50
      - name: FulfillmentChannels
        in: query
        description: "A list that indicates how an order was fulfilled. Filters the results by fulfillment channel. \n\n**Possible values**: `AFN` (fulfilled by Amazon), `MFN` (fulfilled by seller)."
        required: false
        schema:
          type: array
          items:
            type: string
      - name: PaymentMethods
        in: query
        description: 'A list of payment method values. Use this field to select orders that were paid with the specified payment methods.


          **Possible values**: `COD` (cash on delivery), `CVS` (convenience store), `Other` (Any payment method other than COD or CVS).'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: BuyerEmail
        in: query
        description: The email address of a buyer. Used to select orders that contain the specified email address.
        required: false
        schema:
          type: string
      - name: SellerOrderId
        in: query
        description: An order identifier that is specified by the seller. Used to select only the orders that match the order identifier. If `SellerOrderId` is specified, then `FulfillmentChannels`, `OrderStatuses`, `PaymentMethod`, `LastUpdatedAfter`, `LastUpdatedBefore`, and `BuyerEmail` cannot be specified.
        required: false
        schema:
          type: string
      - name: MaxResultsPerPage
        in: query
        description: A number that indicates the maximum number of orders that can be returned per page. Value must be 1 - 100. Default 100.
        required: false
        schema:
          type: integer
      - name: EasyShipShipmentStatuses
        in: query
        description: 'A list of `EasyShipShipmentStatus` values. Used to select Easy Ship orders with statuses that match the specified values. If `EasyShipShipmentStatus` is specified, only Amazon Easy Ship orders are returned.


          **Possible values:**

          - `PendingSchedule` (The package is awaiting the schedule for pick-up.)

          - `PendingPickUp` (Amazon has not yet picked up the package from the seller.)

          - `PendingDropOff` (The seller will deliver the package to the carrier.)

          - `LabelCanceled` (The seller canceled the pickup.)

          - `PickedUp` (Amazon has picked up the package from the seller.)

          - `DroppedOff` (The package is delivered to the carrier by the seller.)

          - `AtOriginFC` (The packaged is at the origin fulfillment center.)

          - `AtDestinationFC` (The package is at the destination fulfillment center.)

          - `Delivered` (The package has been delivered.)

          - `RejectedByBuyer` (The package has been rejected by the buyer.)

          - `Undeliverable` (The package cannot be delivered.)

          - `ReturningToSeller` (The package was not delivered and is being returned to the seller.)

          - `ReturnedToSeller` (The package was not delivered and was returned to the seller.)

          - `Lost` (The package is lost.)

          - `OutForDelivery` (The package is out for delivery.)

          - `Damaged` (The package was damaged by the carrier.)'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ElectronicInvoiceStatuses
        in: query
        description: 'A list of `ElectronicInvoiceStatus` values. Used to select orders with electronic invoice statuses that match the specified values.


          **Possible values:**

          - `NotRequired` (Electronic invoice submission is not required for this order.)

          - `NotFound` (The electronic invoice was not submitted for this order.)

          - `Processing` (The electronic invoice is being processed for this order.)

          - `Errored` (The last submitted electronic invoice was rejected for this order.)

          - `Accepted` (The last submitted electronic invoice was submitted and accepted.)'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        schema:
          type: string
      - name: AmazonOrderIds
        in: query
        description: A list of `AmazonOrderId` values. An `AmazonOrderId` is an Amazon-defined order identifier, in 3-7-7 format.
        required: false
        schema:
          type: array
          items:
            type: string
          maxItems: 50
      - name: ActualFulfillmentSupplySourceId
        in: query
        description: The `sourceId` of the location from where you want the order fulfilled.
        required: false
        schema:
          type: string
      - name: IsISPU
        in: query
        description: When true, this order is marked to be picked up from a store rather than delivered.
        required: false
        schema:
          type: boolean
      - name: StoreChainStoreId
        in: query
        description: The store chain store identifier. Linked to a specific store in a store chain.
        required: false
        schema:
          type: string
      - name: EarliestDeliveryDateBefore
        in: query
        description: Use this date to select orders with an earliest delivery date before (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        required: false
        schema:
          type: string
      - name: EarliestDeliveryDateAfter
        in: query
        description: Use this date to select orders with an earliest delivery date after (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        required: false
        schema:
          type: string
      - name: LatestDeliveryDateBefore
        in: query
        description: Use this date to select orders with a latest delivery date before (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        required: false
        schema:
          type: string
      - name: LatestDeliveryDateAfter
        in: query
        description: Use this date to select orders with a latest delivery date after (or at) a specified time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  CreatedAfter:
                    value: TEST_CASE_200
                  MarketplaceIds:
                    value:
                    - ATVPDKIKX0DER
              response:
                payload:
                  CreatedBefore: 1.569521782042E9
                  Orders:
                  - AmazonOrderId: 902-1845936-5435065
                    PurchaseDate: '1970-01-19T03:58:30Z'
                    LastUpdateDate: '1970-01-19T03:58:32Z'
                    OrderStatus: Unshipped
                    FulfillmentChannel: MFN
                    SalesChannel: Amazon.com
                    ShipServiceLevel: Std US D2D Dom
                    OrderTotal:
                      CurrencyCode: USD
                      Amount: '11.01'
                    NumberOfItemsShipped: 0
                    NumberOfItemsUnshipped: 1
                    PaymentMethod: Other
                    PaymentMethodDetails:
                    - Standard
                    IsReplacementOrder: false
                    MarketplaceId: ATVPDKIKX0DER
                    ShipmentServiceLevelCategory: Standard
                    OrderType: StandardOrder
                    EarliestShipDate: '1970-01-19T03:59:27Z'
                    LatestShipDate: '1970-01-19T04:05:13Z'
                    EarliestDeliveryDate: '1970-01-19T04:06:39Z'
                    LatestDeliveryDate: '1970-01-19T04:15:17Z'
                    IsBusinessOrder: false
                    IsPrime: false
                    IsGlobalExpressEnabled: false
                    IsPremiumOrder: false
                    IsSoldByAB: false
                    IsIBA: false
                    DefaultShipFromLocationAddress:
                      Name: MFNIntegrationTestMerchant
                      AddressLine1: 2201 WESTLAKE AVE
                      City: SEATTLE
                      StateOrRegion: WA
                      PostalCode: 98121-2778
                      CountryCode: US
                      Phone: +1 480-386-0930 ext. 73824
                      AddressType: Commercial
                    FulfillmentInstruction:
                      FulfillmentSupplySourceId: sampleSupplySourceId
                    IsISPU: false
                    IsAccessPointOrder: false
                    AutomatedShippingSettings:
                      HasAutomatedShippingSettings: false
                    EasyShipShipmentStatus: PendingPickUp
                    ElectronicInvoiceStatus: NotRequired
                  - AmazonOrderId: 902-8745147-1934268
                    PurchaseDate: '1970-01-19T03:58:30Z'
                    LastUpdateDate: '1970-01-19T03:58:32Z'
                    OrderStatus: Unshipped
                    FulfillmentChannel: MFN
                    SalesChannel: Amazon.com
                    ShipServiceLevel: Std US D2D Dom
                    OrderTotal:
                      CurrencyCode: USD
                      Amount: '11.01'
                    NumberOfItemsShipped: 0
                    NumberOfItemsUnshipped: 1
                    PaymentMethod: Other
                    PaymentMethodDetails:
                    - Standard
                    IsReplacementOrder: false
                    MarketplaceId: ATVPDKIKX0DER
                    ShipmentServiceLevelCategory: Standard
                    OrderType: StandardOrder
                    EarliestShipDate: '1970-01-19T03:59:27Z'
                    LatestShipDate: '1970-01-19T04:05:13Z'
                    EarliestDeliveryDate: '1970-01-19T04:06:39Z'
                    LatestDeliveryDate: '1970-01-19T04:15:17Z'
                    IsBusinessOrder: false
                    IsPrime: false
                    IsAccessPointOrder: false
                    IsGlobalExpressEnabled: false
                    IsPremiumOrder: false
                    IsSoldByAB: false
                    IsIBA: false
                    EasyShipShipmentStatus: PendingPickUp
                    ElectronicInvoiceStatus: NotRequired
            - request:
                parameters:
                  CreatedAfter:
                    value: TEST_CASE_200_NEXT_TOKEN
                  MarketplaceIds:
                    value:
                    - ATVPDKIKX0DER
              response:
                payload:
                  NextToken: 2YgYW55IGNhcm5hbCBwbGVhc3VyZS4
                  Orders:
                  - AmazonOrderId: 902-3159896-1390916
                    PurchaseDate: '2017-01-20T19:49:35Z'
                    LastUpdateDate: '2017-01-20T19:49:35Z'
                    OrderStatus: Pending
                    FulfillmentChannel: MFN
                    NumberOfItemsShipped: 0
                    NumberOfItemsUnshipped: 0
                    PaymentMethod: Other
                    PaymentMethodDetails:
                    - CreditCard
                    - GiftCertificate
                    MarketplaceId: ATVPDKIKX0DER
                    ShipmentServiceLevelCategory: Standard
                    OrderType: StandardOrder
                    EasyShipShipmentStatus: PendingPickUp
                    ElectronicInvoiceStatus: NotRequired
                    EarliestShipDate: '2017-01-20T19:51:16Z'
                    LatestShipDate: '2017-01-25T19:49:35Z'
                    IsBusinessOrder: false
                    IsPrime: false
                    IsAccessPointOrder: false
                    IsGlobalExpressEnabled: false
                    IsPremiumOrder: false
                    IsSoldByAB: false
                    IsIBA: false
            - request:
                parameters:
                  CreatedAfter:
                    value: TEST_CASE_200_NEXT_TOKEN
                  MarketplaceIds:
                    value:
                    - ATVPDKIKX0DER
                  NextToken:
                    value: 2YgYW55IGNhcm5hbCBwbGVhc3VyZS4
              response:
                payload:
                  Orders:
                  - AmazonOrderId: 902-3159896-1390916
                    PurchaseDate: '2017-01-20T19:49:35Z'
                    LastUpdateDate: '2017-01-20T19:49:35Z'
                    OrderStatus: Pending
                    FulfillmentChannel: MFN
                    NumberOfItemsShipped: 0
                    NumberOfItemsUnshipped: 0
                    PaymentMethod: Other
                    PaymentMethodDetails:
                    - CreditCard
                    - GiftCertificate
                    MarketplaceId: ATVPDKIKX0DER
                    ShipmentServiceLevelCategory: Standard
                    OrderType: StandardOrder
                    EasyShipShipmentStatus: PendingPickUp
                    ElectronicInvoiceStatus: NotRequired
                    EarliestShipDate: '2017-01-20T19:51:16Z'
                    LatestShipDate: '2017-01-25T19:49:35Z'
                    IsBusinessOrder: false
                    IsPrime: false
                    IsAccessPointOrder: false
                    IsGlobalExpressEnabled: false
                    IsPremiumOrder: false
                    IsSoldByAB: false
                    IsIBA: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
              example:
                payload:
                  NextToken: 2YgYW55IGNhcm5hbCBwbGVhc3VyZS4
                  Orders:
                  - AmazonOrderId: 902-3159896-1390916
                    PurchaseDate: '2017-01-20T19:49:35Z'
                    LastUpdateDate: '2017-01-20T19:49:35Z'
                    OrderStatus: Pending
                    FulfillmentChannel: MFN
                    NumberOfItemsShipped: 0
                    NumberOfItemsUnshipped: 0
                    PaymentMethod: Other
                    PaymentMethodDetails:
                    - CreditCard
                    - GiftCertificate
                    MarketplaceId: ATVPDKIKX0DER
                    ShipmentServiceLevelCategory: Standard
                    OrderType: StandardOrder
                    EarliestShipDate: '2017-01-20T19:51:16Z'
                    LatestShipDate: '2017-01-25T19:49:35Z'
                    IsBusinessOrder: false
                    IsPrime: false
                    IsAccessPointOrder: false
                    IsGlobalExpressEnabled: false
                    IsPremiumOrder: false
                    IsSoldByAB: false
                    IsIBA: false
                    ShippingAddress:
                      Name: Michigan address
                      AddressLine1: 1 Cross St.
                      City: Canton
                      StateOrRegion: MI
                      PostalCode: '48817'
                      CountryCode: US
                    BuyerInfo:
                      BuyerEmail: user@example.com
                      BuyerName: John Doe
                      BuyerTaxInfo:
                        CompanyLegalName: A Company Name
                      PurchaseOrderNumber: '1234567890123'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  CreatedAfter:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
  /orders/v0/orders/{orderId}:
    get:
      tags:
      - ordersV0
      description: 'Returns the order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrder
      deprecated: true
      parameters:
      - name: orderId
        in: path
        description: An Amazon-defined order identifier, in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_200
              response:
                payload:
                  AmazonOrderId: 902-1845936-5435065
                  PurchaseDate: '1970-01-19T03:58:30Z'
                  LastUpdateDate: '1970-01-19T03:58:32Z'
                  OrderStatus: Unshipped
                  FulfillmentChannel: MFN
                  SalesChannel: Amazon.com
                  ShipServiceLevel: Std US D2D Dom
                  OrderTotal:
                    CurrencyCode: USD
                    Amount: '11.01'
                  NumberOfItemsShipped: 0
                  NumberOfItemsUnshipped: 1
                  PaymentMethod: Other
                  PaymentMethodDetails:
                  - Standard
                  IsReplacementOrder: false
                  MarketplaceId: ATVPDKIKX0DER
                  ShipmentServiceLevelCategory: Standard
                  OrderType: StandardOrder
                  EarliestShipDate: '1970-01-19T03:59:27Z'
                  LatestShipDate: '1970-01-19T04:05:13Z'
                  EarliestDeliveryDate: '1970-01-19T04:06:39Z'
                  LatestDeliveryDate: '1970-01-19T04:15:17Z'
                  IsBusinessOrder: false
                  IsPrime: false
                  IsGlobalExpressEnabled: false
                  IsPremiumOrder: false
                  IsSoldByAB: false
                  IsIBA: false
                  DefaultShipFromLocationAddress:
                    Name: MFNIntegrationTestMerchant
                    AddressLine1: 2201 WESTLAKE AVE
                    City: SEATTLE
                    StateOrRegion: WA
                    PostalCode: 98121-2778
                    CountryCode: US
                    Phone: +1 480-386-0930 ext. 73824
                    AddressType: Commercial
                  FulfillmentInstruction:
                    FulfillmentSupplySourceId: sampleSupplySourceId
                  IsISPU: false
                  IsAccessPointOrder: false
                  AutomatedShippingSettings:
                    HasAutomatedShippingSettings: false
                  EasyShipShipmentStatus: PendingPickUp
                  ElectronicInvoiceStatus: NotRequired
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_IBA_200
              response:
                payload:
                  AmazonOrderId: 921-3175655-0452641
                  PurchaseDate: '2019-05-07T15:42:57.058Z'
                  LastUpdateDate: '2019-05-08T21:59:59Z'
                  OrderStatus: Shipped
                  FulfillmentChannel: AFN
                  SalesChannel: Amazon.de
                  ShipServiceLevel: Standard
                  OrderTotal:
                    CurrencyCode: EUR
                    Amount: '100.00'
                  NumberOfItemsShipped: 1
                  NumberOfItemsUnshipped: 0
                  PaymentMethod: Other
                  PaymentMethodDetails:
                  - Invoice
                  PaymentExecutionDetail:
                  - Payment:
                      CurrencyCode: BRL
                      Amount: '20.00'
                    PaymentMethod: Pix
                    AcquirerId: XX.XXX.XXX/0001-ZZ
                    AuthorizationCode: '123456'
                  IsReplacementOrder: false
                  MarketplaceId: A1PA6795UKMFR9
                  ShipmentServiceLevelCategory: Standard
                  OrderType: StandardOrder
                  EarliestShipDate: '1970-01-19T03:59:27Z'
                  LatestShipDate: '2019-05-08T21:59:59Z'
                  EarliestDeliveryDate: '2019-05-10T21:59:59Z'
                  LatestDeliveryDate: '2019-05-12T21:59:59Z'
                  IsBusinessOrder: true
                  IsPrime: false
                  IsGlobalExpressEnabled: false
                  IsPremiumOrder: false
                  IsSoldByAB: true
                  IsIBA: true
                  DefaultShipFromLocationAddress:
                    Name: MFNIntegrationTestMerchant
                    AddressLine1: 2201 WESTLAKE AVE
                    City: SEATTLE
                    StateOrRegion: WA
                    PostalCode: 98121-2778
                    CountryCode: US
                    Phone: +1 480-386-0930 ext. 73824
                    AddressType: Commercial
                  FulfillmentInstruction:
                    FulfillmentSupplySourceId: sampleSupplySourceId
                  IsISPU: false
                  IsAccessPointOrder: false
                  AutomatedShippingSettings:
                    HasAutomatedShippingSettings: false
                  EasyShipShipmentStatus: PendingPickUp
                  ElectronicInvoiceStatus: NotRequired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
              example:
                payload:
                  AmazonOrderId: 902-3159896-1390916
                  PurchaseDate: '2017-01-20T19:49:35Z'
                  LastUpdateDate: '2017-01-20T19:49:35Z'
                  OrderStatus: Pending
                  FulfillmentChannel: MFN
                  NumberOfItemsShipped: 0
                  NumberOfItemsUnshipped: 0
                  PaymentMethod: Other
                  PaymentMethodDetails:
                  - CreditCard
                  - GiftCertificate
                  MarketplaceId: ATVPDKIKX0DER
                  ShipmentServiceLevelCategory: Standard
                  OrderType: StandardOrder
                  EarliestShipDate: '2017-01-20T19:51:16Z'
                  LatestShipDate: '2017-01-25T19:49:35Z'
                  IsBusinessOrder: false
                  IsPrime: false
                  IsGlobalExpressEnabled: false
                  IsPremiumOrder: false
                  IsSoldByAB: false
                  IsIBA: false
                  DefaultShipFromLocationAddress:
                    Name: MFNIntegrationTestMerchant
                    AddressLine1: 2201 WESTLAKE AVE
                    City: SEATTLE
                    StateOrRegion: WA
                    PostalCode: 98121-2778
                    CountryCode: US
                    Phone: +1 480-386-0930 ext. 73824
                    AddressType: Commercial
                  FulfillmentInstruction:
                    FulfillmentSupplySourceId: sampleSupplySourceId
                  IsISPU: false
                  IsAccessPointOrder: false
                  ShippingAddress:
                    Name: Michigan address
                    AddressLine1: 1 Cross St.
                    City: Canton
                    StateOrRegion: MI
                    PostalCode: '48817'
                    CountryCode: US
                  BuyerInfo:
                    BuyerEmail: user@example.com
                    BuyerName: John Doe
                    BuyerTaxInfo:
                      CompanyLegalName: A Company Name
                    PurchaseOrderNumber: '1234567890123'
                  AutomatedShippingSettings:
                    HasAutomatedShippingSettings: false
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
  /orders/v0/orders/{orderId}/buyerInfo:
    get:
      tags:
      - ordersV0
      description: 'Returns buyer information for the order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrderBuyerInfo
      deprecated: true
      parameters:
      - name: orderId
        in: path
        description: The Amazon order identifier in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_200
              response:
                payload:
                  AmazonOrderId: 902-1845936-5435065
                  BuyerEmail: fzyrv6gwkhbb15c@example.com
                  BuyerName: MFNIntegrationTestMerchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
              example:
                payload:
                  AmazonOrderId: 902-3159896-1390916
                  BuyerEmail: user@example.com
                  BuyerName: John Smith
                  BuyerTaxInfo:
                    CompanyLegalName: Company Name
                  PurchaseOrderNumber: '1234567890123'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
  /orders/v0/orders/{orderId}/address:
    get:
      tags:
      - ordersV0
      description: 'Returns the shipping address for the order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrderAddress
      deprecated: true
      parameters:
      - name: orderId
        in: path
        description: The Amazon order identifier in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_200
              response:
                payload:
                  AmazonOrderId: 902-1845936-5435065
                  ShippingAddress:
                    Name: MFNIntegrationTestMerchant
                    AddressLine1: 2201 WESTLAKE AVE
                    City: SEATTLE
                    StateOrRegion: WA
                    PostalCode: 98121-2778
                    CountryCode: US
                    Phone: +1 480-386-0930 ext. 73824
                    AddressType: Commercial
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
              example:
                payload:
                  AmazonOrderId: 902-3159896-1390916
                  ShippingAddress:
                    Name: Michigan address
                    AddressLine1: 1 cross st
                    City: Canton
                    StateOrRegion: MI
                    PostalCode: '48817'
                    CountryCode: US
                    ExtendedFields:
                      StreetName: Cross St
                      StreetNumber: '1'
                      GeoCoordinates:
                        Latitude: 37.42678611
                        Longitude: -122.08060321
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAddressResponse'
  /orders/v0/orders/{orderId}/orderItems:
    get:
      tags:
      - ordersV0
      description: 'Returns detailed order item information for the order that you specify. If `NextToken` is provided, it''s used to retrieve the next page of order items.


        __Note__: When an order is in the Pending state (the order has been placed but payment has not been authorized), the getOrderItems operation does not return information about pricing, taxes, shipping charges, gift status or promotions for the order items in the order. After an order leaves the Pending state (this occurs when payment has been authorized) and enters the Unshipped, Partially Shipped, or Shipped state, the getOrderItems operation returns information about pricing, taxes, shipping charges, gift status and promotions for the order items in the order.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrderItems
      deprecated: true
      parameters:
      - name: orderId
        in: path
        description: An Amazon-defined order identifier, in 3-7-7 format.
        required: true
        schema:
          type: string
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_200
              response:
                payload:
                  AmazonOrderId: 902-1845936-5435065
                  OrderItems:
                  - ASIN: B00551Q3CS
                    OrderItemId: 05015851154158
                    SellerSKU: NABetaASINB00551Q3CS
                    Title: B00551Q3CS [Card Book]
                    QuantityOrdered: 1
                    QuantityShipped: 0
                    ProductInfo:
                      NumberOfItems: '1'
                    ItemPrice:
                      CurrencyCode: USD
                      Amount: '10.00'
                    ItemTax:
                      CurrencyCode: USD
                      Amount: '1.01'
                    PromotionDiscount:
                      CurrencyCode: USD
                      Amount: '0.00'
                    IsGift: 'false'
                    ConditionId: New
                    ConditionSubtypeId: New
                    IsTransparency: false
                    SerialNumberRequired: false
                    IossNumber: ''
                    DeemedResellerCategory: IOSS
                    StoreChainStoreId: ISPU_StoreId
                    BuyerRequestedCancel:
                      IsBuyerRequestedCancel: 'true'
                      BuyerCancelReason: Found cheaper somewhere else.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
              example:
                payload:
                  AmazonOrderId: 903-1671087-0812628
                  NextToken: 2YgYW55IGNhcm5hbCBwbGVhc3VyZS4
                  OrderItems:
                  - ASIN: BT0093TELA
                    OrderItemId: '68828574383266'
                    SellerSKU: CBA_OTF_1
                    Title: Example item name
                    QuantityOrdered: 1
                    QuantityShipped: 1
                    PointsGranted:
                      PointsNumber: 10
                      PointsMonetaryValue:
                        CurrencyCode: JPY
                        Amount: '10.00'
                    ItemPrice:
                      CurrencyCode: JPY
                      Amount: '25.99'
                    ShippingPrice:
                      CurrencyCode: JPY
                      Amount: '1.26'
                    ScheduledDeliveryEndDate: '2013-09-09T01:30:00Z'
                    ScheduledDeliveryStartDate: '2013-09-07T02:00:00Z'
                    CODFee:
                      CurrencyCode: JPY
                      Amount: '10.00'
                    CODFeeDiscount:
                      CurrencyCode: JPY
                      Amount: '1.00'
                    PriceDesignation: BusinessPrice
                    BuyerInfo:
                      BuyerCustomizedInfo:
                        CustomizedURL: https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1
                      GiftMessageText: For you!
                      GiftWrapPrice:
                        CurrencyCode: GBP
                        Amount: '41.99'
                      GiftWrapLevel: Classic
                    BuyerRequestedCancel:
                      IsBuyerRequestedCancel: 'true'
                      BuyerCancelReason: Found cheaper somewhere else.
                    SerialNumbers:
                    - '854'
                  - ASIN: BCTU1104UEFB
                    OrderItemId: '79039765272157'
                    SellerSKU: CBA_OTF_5
                    Title: Example item name
                    QuantityOrdered: 2
                    ItemPrice:
                      CurrencyCode: JPY
                      Amount: '17.95'
                    PromotionIds:
                    - FREESHIP
                    ConditionId: Used
                    ConditionSubtypeId: Mint
                    ConditionNote: Example ConditionNote
                    PriceDesignation: BusinessPrice
                    BuyerInfo:
                      BuyerCustomizedInfo:
                        CustomizedURL: https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1
                      GiftMessageText: For you!
                      GiftWrapPrice:
                        CurrencyCode: JPY
                        Amount: '1.99'
                      GiftWrapLevel: Classic
                    BuyerRequestedCancel:
                      IsBuyerRequestedCancel: 'true'
                      BuyerCancelReason: Found cheaper somewhere else.
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsResponse'
  /orders/v0/orders/{orderId}/orderItems/buyerInfo:
    get:
      tags:
      - ordersV0
      description: 'Returns buyer information for the order items in the order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrderItemsBuyerInfo
      deprecated: true
      parameters:
      - name: orderId
        in: path
        description: An Amazon-defined order identifier, in 3-7-7 format.
        required: true
        schema:
          type: string
      - name: NextToken
        in: query
        description: A string token returned in the response of your previous request.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_200
              response:
                payload:
                  AmazonOrderId: 902-1845936-5435065
                  OrderItems:
                  - OrderItemId: '68828574383266'
                    BuyerCustomizedInfo:
                      CustomizedURL: https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1
                    GiftMessageText: Et toi!
                    GiftWrapPrice:
                      CurrencyCode: JPY
                      Amount: '1.99'
                    GiftWrapLevel: Classic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
              example:
                payload:
                  OrderItemId: 903-1671087-0812628
                  BuyerCustomizedInfo:
                    CustomizedURL: https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1
                  GiftMessageText: For you!
                  GiftWrapPrice:
                    CurrencyCode: JPY
                    Amount: '1.99'
                  GiftWrapLevel: Classic
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderItemsBuyerInfoResponse'
  /orders/v0/orders/{orderId}/regulatedInfo:
    get:
      tags:
      - ordersV0
      description: 'Returns regulated information for the order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: getOrderRegulatedInfo
      parameters:
      - name: orderId
        in: path
        description: The Amazon order identifier in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
              response:
                payload:
                  AmazonOrderId: 902-3159896-1390916
                  RequiresDosageLabel: false
                  RegulatedInformation:
                    Fields:
                    - FieldId: pet_prescription_name
                      FieldLabel: Name
                      FieldType: Text
                      FieldValue: Ruffus
                    - FieldId: pet_prescription_species
                      FieldLabel: Species
                      FieldType: Text
                      FieldValue: Dog
                  RegulatedOrderVerificationStatus:
                    Status: Pending
                    RequiresMerchantAction: true
                    ValidRejectionReasons:
                    - RejectionReasonId: shield_pom_vps_reject_product
                      RejectionReasonDescription: This medicine is not suitable for your pet.
                    - RejectionReasonId: shield_pom_vps_reject_age
                      RejectionReasonDescription: Your pet is too young for this medicine.
                    - RejectionReasonId: shield_pom_vps_reject_incorrect_weight
                      RejectionReasonDescription: Your pet's weight does not match ordered size.
            - request:
                parameters:
                  orderId:
                    value: 902-2592119-3531015
              response:
                payload:
                  AmazonOrderId: 902-2592119-3531015
                  RequiresDosageLabel: false
                  RegulatedInformation:
                    Fields:
                    - FieldId: pets_rx_scName
                      FieldLabel: Pet name
                      FieldType: Text
                      FieldValue: Woofer
                    - FieldId: pets_rx_scType
                      FieldLabel: Pet type
                      FieldType: Text
                      FieldValue: Dog
                    - FieldId: pets_rx_scBreed
                      FieldLabel: Pet breed
                      FieldType: Text
                      FieldValue: Husky
                    - FieldId: pets_rx_scGender
                      FieldLabel: Pet gender
                      FieldType: Text
                      FieldValue: Female
                    - FieldId: pets_rx_scDateOfBirth
                      FieldLabel: Pet Birth Date
                      FieldType: Text
                      FieldValue: '2016-05-01'
                    - FieldId: pets_rx_scWeight
                      FieldLabel: Weight
                      FieldType: Text
                      FieldValue: '12'
                    - FieldId: pets_rx_scWeightUnit
                      FieldLabel: Weight Unit
                      FieldType: Text
                      FieldValue: Pound
                    - FieldId: pets_rx_scHasAllergies
                      FieldLabel: Does your pet have allergies?
                      FieldType: Text
                      FieldValue: 'False'
                    - FieldId: pets_rx_scTakesAdditionalMedications
                      FieldLabel: Is your pet on any other medication?
                      FieldType: Text
                      FieldValue: 'False'
                    - FieldId: pets_rx_scHasOtherProblems
                      FieldLabel: Any pet health problems?
                      FieldType: Text
                      FieldValue: 'False'
                    - FieldId: pets_rx_scSourceClinicId
                      FieldLabel: Source Clinic ID
                      FieldType: Text
                      FieldValue: Clinic-1234
                    - FieldId: pets_rx_scVetClinicName
                      FieldLabel: Vet Clinic Name
                      FieldType: Text
                      FieldValue: Test Clinic
                    - FieldId: pets_rx_scVetClinicCity
                      FieldLabel: Vet Clinic City
                      FieldType: Text
                      FieldValue: Seattle
                    - FieldId: pets_rx_scVetClinicState
                      FieldLabel: Vet Clinic State
                      FieldType: Text
                      FieldValue: WA
                    - FieldId: pets_rx_scVetClinicZipCode
                      FieldLabel: Vet Clinic Zip Code
                      FieldType: Text
                      FieldValue: '98000'
                    - FieldId: pets_rx_scVetClinicPhoneNumber
                      FieldLabel: Vet Clinic Phone Number
                      FieldType: Text
                      FieldValue: '2060000000'
                  RegulatedOrderVerificationStatus:
                    Status: Pending
                    RequiresMerchantAction: true
                    ValidRejectionReasons:
                    - RejectionReasonId: pets_rx_sc_incorrect_product
                      RejectionReasonDescription: Canceled order due to veterinarian indicating wrong product ordered
                    - RejectionReasonId: pets_rx_sc_no_vcpr
                      RejectionReasonDescription: Canceled order due to veterinarian indicating they do not have you as their client
                    - RejectionReasonId: pets_rx_sc_visit_required
                      RejectionReasonDescription: Canceled order due to veterinarian indicating they need to see your pet for an appointment
                    - RejectionReasonId: pets_rx_sc_wrx_required
                      RejectionReasonDescription: Canceled order due to veterinarian policy requiring you pick up a written prescription and mail to pharmacy
                    - RejectionReasonId: pets_rx_sc_other
                      RejectionReasonDescription: Canceled order due to prescription denied - contact your vetinarian
                    - RejectionReasonId: pets_rx_sc_therapy_change
                      RejectionReasonDescription: Canceled order due to a change in therapy, follow up with your veterinarian
                    - RejectionReasonId: pets_rx_sc_wrong_weight
                      RejectionReasonDescription: Canceled order due to incorrect pet weight on file, update weight and replace order or order correct product
                    - RejectionReasonId: pets_rx_sc_early_refill
                      RejectionReasonDescription: Canceled due to refilling prescription order too soon
                    - RejectionReasonId: pets_rx_sc_wrong_species
                      RejectionReasonDescription: Canceled due to ordering for wrong pet species, replace order for correct product
                    - RejectionReasonId: pets_rx_sc_duplicate
                      RejectionReasonDescription: Canceled due to duplicate order identified
                    - RejectionReasonId: pets_rx_sc_invalid_rx
                      RejectionReasonDescription: Canceled due to not receiving a valid prescription
                    - RejectionReasonId: pets_rx_sc_address_validation_error
                      RejectionReasonDescription: Canceled due to a non-verified address, correct address and replace order
                    - RejectionReasonId: pets_rx_sc_no_clinic_match
                      RejectionReasonDescription: Canceled due to no valid clinic match, provide complete and accurate details for vet clinic and replace order
                    - RejectionReasonId: pets_rx_sc_pharmacist_canceled
                      RejectionReasonDescription: Order canceled by pharmacy
                    ValidVerificationDetails:
                    - VerificationDetailType: prescriptionDetail
                      ValidVerificationStatuses:
                      - Approved
                    - VerificationDetailType: approvedAlternativeDetails
                      ValidVerificationStatuses:
                      - Rejected
                    - VerificationDetailType: interimStatusDetail
                      ValidVerificationStatuses:
                      - Pending
                    ValidInterimStatusCodes:
                    - StatusCode: awaiting_vet_response
                      StatusDescription: Vetsource is contacting your vet. Response usually takes 1-2 business days.
                    - StatusCode: vet_contacted_email
                      StatusDescription: Vetsource contacted your vet via email.
                    - StatusCode: vet_contacted_phone
                      StatusDescription: Vetsource contacted your vet via phone.
                    - StatusCode: vet_contacted_fax
                      StatusDescription: Vetsource contacted your vet via fax.
                    - StatusCode: communication_failure
                      StatusDescription: We're having trouble reaching your vet. We'll keep trying.
                    - StatusCode: no_vet_response
                      StatusDescription: Your vet didn't respond. Contact them to confirm they'll approve your next order.
                    - StatusCode: processing
                      StatusDescription: Your order has been approved and is being processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: TEST_CASE_400
              response:
                errors:
                - code: InvalidInput
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '403':
          description: Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderRegulatedInfoResponse'
    patch:
      tags:
      - ordersV0
      description: 'Updates (approves or rejects) the verification status of an order containing regulated products.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 0.5 | 30 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: updateVerificationStatus
      parameters:
      - name: orderId
        in: path
        description: The Amazon order identifier in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success.
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Rejected
                        externalReviewerId: reviewer1234
                        rejectionReasonId: shield_pom_vps_reject_incorrect_weight
              response: {}
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        externalReviewerId: reviewer1234
                        verificationDetails:
                          prescriptionDetail:
                            prescriptionId: Rx-1234
                            expirationDate: '2024-01-01T00:00:00Z'
                            writtenQuantity: 3
                            totalRefillsAuthorized: 10
                            usageInstructions: Take one per day by mouth with food
                            refillsRemaining: 10
                            clinicId: ABC-1234
              response: {}
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Rejected
              response:
                errors:
                - code: InvalidInput
                  message: 'Missing request parameter: rejectionReasonId.'
                - code: InvalidInput
                  message: 'Missing request parameter: externalReviewerId.'
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Cancelled
                        externalReviewerId: reviewer1234
              response:
                errors:
                - code: InvalidInput
                  message: Invalid request parameter `status`. Must be one of [Approved, Rejected].
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Rejected
                        rejectionReasonId: shield_pom_vps_reject_incorrect_weight
                        verificationDetails:
                          prescriptionDetail:
                            prescriptionId: Rx-1234
                            expirationDate: '2024-01-01T00:00:00Z'
                            writtenQuantity: 3
                            totalRefillsAuthorized: 10
                            usageInstructions: Take one per day by mouth with food
                            refillsRemaining: 10
                            clinicId: ABC-1234
              response:
                errors:
                - code: InvalidInput
                  message: Verification Detail `prescriptionDetail` is not supported when order is in Rejected status.
                - code: InvalidInput
                  message: 'Missing request parameter: externalReviewerId.'
            - request:
                parameters:
                  orderId:
                    value: 902-3159896-1390916
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        externalReviewerId: reviewer1234
                        verificationDetails:
                          prescriptionDetail:
                            prescriptionId: Rx-1234
                            expirationDate: '2024-01-01T00:00:00Z'
                            writtenQuantity: 3
                            totalRefillsAuthorized: 10
                            usageInstructions: Take one per day by mouth with food
                            refillsRemaining: 10
              response:
                errors:
                - code: InvalidInput
                  message: 'Missing required parameter(s) from prescriptionDetail value: clinicId'
            - request:
                parameters:
                  orderId:
                    value: 902-2592119-3531015
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Rejected
                        externalReviewerId: vet_clinic_12345
                        rejectionReasonId: pets_rx_sc_incorrect_product
                        verificationDetails:
                          approvedAlternativeDetails:
                          - attributeName: asin
                            originalValue: B00DOGMEDICINE
                            approvedValue: B00CATMEDICINE
              response: {}
            - request:
                parameters:
                  orderId:
                    value: 902-2592119-3531015
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Pending
                        externalReviewerId: vetsource_system
                        verificationDetails:
                          interimStatusDetail:
                            statusCode: vet_contacted_email
                            statusDateTime: '2026-02-26T10:00:00Z'
              response: {}
            - request:
                parameters:
                  orderId:
                    value: 902-2592119-3531015
                  body:
                    value:
                      regulatedOrderVerificationStatus:
                        status: Approved
                        externalReviewerId: vet_clinic_12345
                        verificationDetails:
                          approvedAlternativeDetails:
                          - attributeName: asin
                            originalValue: B00DOGMEDICINE
                            approvedValue: B00CATMEDICINE
              response:
                errors:
                - code: InvalidInput
                  message: Verification Detail `approvedAlternativeDetails` is not supported when order is in Approved status.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVerificationStatusErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVerificationStatusRequest'
        description: The request body for the `updateVerificationStatus` operation.
        required: true
  /orders/v0/orders/{orderId}/shipmentConfirmation:
    post:
      tags:
      - ordersV0
      description: 'Updates the shipment confirmation status for a specified order.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 2 | 10 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: confirmShipment
      parameters:
      - name: orderId
        in: path
        description: An Amazon-defined order identifier, in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: 902-1106328-1059050
                  body:
                    value:
                      marketplaceId: ATVPDKIKX0DER
                      packageDetail:
                        packageReferenceId: '1'
                        carrierCode: FedEx
                        carrierName: FedEx
                        shippingMethod: FedEx Ground
                        trackingNumber: '112345678'
                        shipDate: '2022-02-11T01:00:00.000Z'
                        shipFromSupplySourceId: 057d3fcc-b750-419f-bbcd-4d340c60c430
                        orderItems:
                        - orderItemId: '79039765272157'
                          quantity: 1
                          transparencyCodes:
                          - 09876543211234567890
              response: {}
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  orderId:
                    value: 902-1106328-1059050
                  body:
                    value:
                      marketplaceId: ATVPDKIKX0DER
                      packageDetail:
                        packageReferenceId: '1'
                        carrierCode: FedEx
                        carrierName: FedEx
                        shippingMethod: FedEx Ground
                        trackingNumber: '112345678'
                        shipDate: 02/21/2022
                        shipFromSupplySourceId: 057d3fcc-b750-419f-bbcd-4d340c60c430
                        orderItems:
                        - orderItemId: '79039765272157'
                          quantity: 1
                          transparencyCodes:
                          - 09876543211234567890
              response:
                errors:
                - code: Invalid Input
                  message: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '401':
          description: The request's Authorization header is not formatted correctly or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '404':
          description: The specified resource does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmShipmentRequest'
        description: Request body of `confirmShipment`.
        required: true
components:
  schemas:
    OrderItemsList:
      type: object
      required:
      - AmazonOrderId
      - OrderItems
      properties:
        OrderItems:
          $ref: '#/components/schemas/OrderItemList'
        NextToken:
          type: string
          description: When present and not empty, pass this string token in the next request to return the next response page.
        AmazonOrderId:
          type: string
          description: An Amazon-defined order identifier, in 3-7-7 format.
      description: The order items list along with the order ID.
    ConfirmShipmentOrderItem:
      type: object
      description: A single order item.
      required:
      - orderItemId
      - quantity
      properties:
        orderItemId:
          type: string
          description: The order item's unique identifier.
        quantity:
          type: integer
          description: The item's quantity.
        transparencyCodes:
          description: The list of transparency codes.
          $ref: '#/components/schemas/TransparencyCodeList'
    ProductInfoDetail:
      type: object
      properties:
        NumberOfItems:
          type: string
          description: The total number of items that are included in the ASIN.
      description: Product information on the number of items.
    InterimStatusDetail:
      type: object
      required:
      - statusCode
      - statusDateTime
      properties:
        statusCode:
          type: string
          description: The identifier for the interim status type. Must be one of the `ValidInterimStatusCodes` values returned by the `getOrderRegulatedInfo` operation.
        statusDateTime:
          type: string
          description: The date and time when this interim status was set, in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date and time format.
          format: date-time
      description: Interim status information provided during the verification process to share granular progress updates while an order is pending verification (for example, vet contacted through email).
    OrderList:
      type: array
      description: A list of orders.
      items:
        $ref: '#/components/schemas/Order'
    VerificationStatus:
      type: string
      description: The verification status of the order.
      enum:
      - Pending
      - Approved
      - Rejected
      - Expired
      - Cancelled
      x-docgen-enum-table-extension:
      - value: Pending
        description: The order is pending approval. Note that the approval might be needed from someone other than the merchant as determined by the `RequiresMerchantAction` property.
      - value: Approved
[...]
