openapi: 3.2.0
info:
  description: "Use the Orders Selling Partner API to programmatically retrieve order information. With this API, you can develop fast, flexible, and custom applications to manage order synchronization, perform order research, and create demand-based decision support tools. \n\n_Note:_ For the JP, AU, and SG marketplaces, the Orders API supports orders from 2016 onward. For all other marketplaces, the Orders API supports orders for the last two years (orders older than this don't show up in the response)."
  version: v0
  title: Selling Partner API for Orders Shipment API
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://sellingpartnerapi-na.amazon.com
tags:
- name: shipment
paths:
  /orders/v0/orders/{orderId}/shipment:
    post:
      tags:
      - shipment
      description: 'Update the shipment status for an order that you specify.


        **Usage Plan:**


        | Rate (requests per second) | Burst |

        | ---- | ---- |

        | 5 | 15 |


        The `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).'
      operationId: updateShipmentStatus
      parameters:
      - name: orderId
        in: path
        description: An Amazon-defined order identifier, in 3-7-7 format.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success.
          x-amzn-api-sandbox:
            static:
            - request:
                parameters: {}
              response: {}
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        '400':
          description: Request has missing or invalid parameters and cannot be parsed.
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  body:
                    value:
                      marketplaceId: '1'
                      shipmentStatus: ReadyForPickup
              response:
                errors:
                - code: InvalidInput
                  message: Marketplace ID is not defined
                  details: '1001'
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '403':
          description: Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '404':
          description: The resource specified does not exist.
          headers:
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '413':
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '415':
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '429':
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '500':
          description: An unexpected condition occurred that prevented the server from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
        '503':
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateShipmentStatusErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentStatusRequest'
        description: The request body for the `updateShipmentStatus` operation.
        required: true
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: An error code that identifies the type of error that occurred.
        message:
          type: string
          description: A message that describes the error condition.
        details:
          type: string
          description: Additional details that can help the caller understand or fix the issue.
      description: Error response returned when the request is unsuccessful.
    UpdateShipmentStatusErrorResponse:
      type: object
      properties:
        errors:
          description: One or more unexpected errors occurred during the `UpdateShipmentStatus` operation.
          $ref: '#/components/schemas/ErrorList'
      description: The error response schema for the `UpdateShipmentStatus` operation.
    UpdateShipmentStatusRequest:
      description: The request body for the `updateShipmentStatus` operation.
      type: object
      properties:
        marketplaceId:
          $ref: '#/components/schemas/MarketplaceId'
        shipmentStatus:
          $ref: '#/components/schemas/ShipmentStatus'
        orderItems:
          $ref: '#/components/schemas/OrderItems'
      required:
      - marketplaceId
      - shipmentStatus
    ShipmentStatus:
      description: The shipment status to apply.
      type: string
      enum:
      - ReadyForPickup
      - PickedUp
      - RefusedPickup
      x-docgen-enum-table-extension:
      - value: ReadyForPickup
        description: Ready for pickup.
      - value: PickedUp
        description: Picked up.
      - value: RefusedPickup
        description: Refused pickup.
    ErrorList:
      type: array
      description: A list of error responses returned when a request is unsuccessful.
      items:
        $ref: '#/components/schemas/Error'
    MarketplaceId:
      description: The unobfuscated marketplace identifier.
      type: string
    OrderItems:
      description: For partial shipment status updates, the list of order items and quantities to be updated.
      type: array
      items:
        type: object
        properties:
          orderItemId:
            description: The order item's unique identifier.
            type: string
          quantity:
            type: integer
            description: The quantity for which to update the shipment status.
